[2009-10-29 18:02] dbr opened #1 "Remove pystache.Pystache object?"
[code]

..seems a rather roundabout way of doing things, why not change `__init__.py` to..

[code]

So you can do..

[code]

[2009-10-29 18:08] dbr commented on #1
Since it's an _incredibly complicated_ change.. a fork: http://github.com/dbr/pystache

[2009-10-30 18:23] defunkt commented on #1
Done!

[2009-10-30 18:23] #1 closed, assigned to nobody

[2009-11-05 04:33] joshthecoder opened #2 "Template loading case sensitive issue"
I noticed this issue when I went to run the nose tests on linux. Pystache attempts to load the template using the View's class name, which is usually capitalized. This creates a problem on case sensitive OS's (like linux) and it will complain about not finding the template file (which in the tests case is called simple.mustache, not Simple.mustache).

Here's a small fix that lower cases the class

[2009-11-06 03:50] defunkt commented on #2
Add failing (but almost passing) ComplexView test. Closed by d68ae32fdab19226cede4cb8e9af21632de0a47b

[2009-11-06 03:50] #2 closed, assigned to nobody

[2010-02-08 19:28] enaeseth opened #3 "Pystache does not render 0"
The last commit made to Pystache (e38a953b8f3f835756a9c92aac2a073f7a76ef60) stopped rendering `None` and `False` as 'None' and 'False' in templates. This is good, but Pystache now refuses to render all values that evaluate to false, which unfortunately includes `0`.

A fix for this (and associated test) can be found at enaeseth@6e5d57c032218dab2ea84d93ace4a1ffd78ab7e4.

[2010-02-08 19:35] enaeseth opened #4 "Pystache cannot render Unicode strings containing non-ASCII text."
In `Template.render_tag`, Pystache converts the value about to be rendered into a string using `str()`. If that value is a Unicode string containing any non-ASCII characters, rendering will fail with a `UnicodeEncodeError`.

enaeseth@f123343cec7afcb22a6227f68229eac57f56ebea is one way of working around this (really quite annoying) problem.

[2010-02-09 10:36] defunkt commented on #3
Merged, thanks!

[2010-02-09 10:36] #3 closed, assigned to nobody

[2010-02-09 10:36] defunkt commented on #4
Just merged this in, thanks.

[2010-02-09 10:36] #4 closed, assigned to nobody

[2010-02-15 14:01] daevaorn opened #5 "Silly to string conversion forcing"
Template's render_unescaped method trying to convert value to string. It breaks when value is not string but unicode or some object convertable to unicode. In the same time render_tag converts value to unicode. I think there is consistency needed.

Patch:

[code]

[2010-02-15 18:45] defunkt commented on #5
String conversions now use `unicode()`, are consistent. Closed by 126347153e90d1916d64b6f06eef1b89c5254673

[2010-02-15 18:45] #5 closed, assigned to nobody

[2010-03-14 20:51] fbstj opened #6 "Whitespace issues"
[code]

Its removing the 'newlineness' and the indentation (`\t`) of the `<li>`

Thanks for any help :) and thankyou very much for porting it in the first place,.

[2010-03-18 04:08] defunkt commented on #6
Right now we don't preserve whitespace, but we really should. It's on The List.

[2010-04-03 01:03] defunkt opened #7 "Inverted Sections"

[2010-05-03 19:17] #7 closed, assigned to nobody

[2010-05-06 11:39] rasputnik opened #8 "can't see values in 'outer' context when inside a loop"
I've got a dead simple template and data structure.

....amended original comment with inline code and templates,
as it looked godawful....

Upshot is: Ruby Mustaches seems to DTRT, Pystache doesn't. Really hope it's a pystache bug :)

[2010-05-06 11:42] rasputnik commented on #8
Argh my eyes!

Sorry. I've stuck the sample code and templates etc up at

http://files.hellooperator.net/pystache-bug.zip

[2010-05-06 20:19] binarymatt opened #9 "pip install breaks"
when installing pystache via pip, setup.py breaks when trying to open README.rst. It looks like the 0.3.0 package on pypi doesn't include the README.rst in the tar.gz file.

[2010-05-07 07:58] defunkt commented on #9
D'oh.

[2010-05-07 07:58] defunkt commented on #8
Definitely a bug - thanks for reporting, I'll try to fix soon.

[2010-05-07 09:51] defunkt commented on #9
Should be fixed now, sorry about that.

[2010-05-07 09:51] #9 closed, assigned to nobody

[2010-06-02 22:38] ziutek opened #10 "Encoding issue"
Pystache doesn't work with strings encoded in non ascii encoding.

There is template_encoding variable that permits write templates in any encoding but there isn't such variable for strings generated by application.

In template.py file, in render_tag and  render_unescaped functions there is unicode() function called without second parameter - the default encoding (ascii) is assumed even if string

[2010-06-14 07:12] defunkt commented on #10
Do you know what we should do to fix this?

[2010-06-15 13:28] ziutek commented on #10
My proposal:
1. Defining application_encoding variable in View class (similar to template_encoding variable) with default value from sys.getdefaultencoding().
2. Defining application_encoding variable in Template class with default value from sys.getdefaultencoding() (Template.__init__(...) method must be modified for properly set it).
3. In Template.render_tag(...) changing
   return cgi.escape(u

[2010-07-28 23:15] rafacv commented on #8
[This commit](http://github.com/rafaelcv/pystache/commit/56c090db370657315e189485459b1b466cc96b1f) fixes the issue of nested contexts.

[2010-07-29 00:46] rafacv commented on #8
The above commit has introduced a bug in which inner context propagates its data to outer context.
I [added a test to expose it](http://github.com/rafaelcv/pystache/commit/ee0c747d72632f63e5d30c01fa2a93279593a64a) and [now it's solved](http://github.com/rafaelcv/pystache/compare/ee0c74...6b29bf). :-)

[2010-08-02 17:54] rafacv commented on #8
Actually, it proved to be a little more complicated than that.
I realized [inner contexts checking belongs not to examples but to tests](http://github.com/rafaelcv/pystache/commit/6deaadff7e1cf4155ff482e2867e38e94312ca23). Testing the outcome of rendering when a context is passed as a dict object - instead of a View instance - proved my previous solution was flawed.
I came to these [commits](http:

[2010-08-06 09:55] rasputnik commented on #8
I'm embarassed to say I don't know how to install this and test ....

[2010-08-06 16:45] rafacv commented on #8
From source:
    $ wget http://download.github.com/rafaelcv-pystache-v0.3.1-15-gaa97645.zip
    $ unzip rafaelcv-pystache-v0.3.1-15-gaa97645.zip
    $ cd rafaelcv-pystache-aa97645/
    $ nosetests
    $ python setup.py install

In case you have cloned defunkt's repository, try this:
    $ git remote add rafaelcv git://github.com/rafaelcv/pystache.git
    $ git remote update rafaelcv
    $ git chec

[2010-08-09 06:34] defunkt commented on #8
Did you forget to commit examples/inner_context_bubbling.py?

[2010-08-10 03:55] rafacv commented on #8
Oops, what I forgot was to remove the import. Since I got inner_context_bubbling._pyc_ file in examples directory, import was reaching the thing and tests passed. Sorry about that.

Fixed; overall changes presented in this [compare view](http://github.com/rafaelcv/pystache/compare/4a66a1...217efd).

[2010-08-10 13:19] rasputnik commented on #8
Doesn't seem to work (using 217efd4e5f54644648e2e27a25a7a35ad9f396b8).
- the files.hellooperator.net link is working again now, if you want to see what I'm trying to do.

[2010-08-10 16:38] rafacv commented on #8
Indeed. Nested contexts were working only for non-looping blocks. [Extended ](http://github.com/rafaelcv/pystache/compare/217efd...55682ac) to looping ones too.
Tests still failing because of [whitespace issue](http://github.com/defunkt/pystache/issues#issue/6) though.

[2010-08-13 08:42] rafacv opened #11 "View executes callables wrongly"
View class always executes callable variables, it doesn't matter if it's a view's method or a lambda in the context dictionary.
Bug can be spotted by running the code in the following gist:
http://gist.github.com/522505

I wrote a test and code to fix it, as you can see in this compare view:
http://github.com/rafaelcv/pystache/compare/defunkt:49c34b...view_callable_bug

[2010-08-13 08:47] rafacv commented on #6
I've tried to approach the problem with this commit:
http://github.com/rafaelcv/pystache/commit/b767ea446d96d6e2e0f0c61ee3b2250aeed76278

I must say I'm not happy with produced code though and polishing is needed. It sucks even more because I didn't have the care of committing it to a clean branch instead of cluttering it on top of my commits to fix #8.

Anyway, commenting here just for the record

[2010-09-27 20:45] rhettg opened #13 "Template path not propagated when rendering a partial inside a section"
Related to issue #8, if you put a partial within a section, it won't be able to find the template if you are using 'template_path' in your view.

outer.mustache

[code]

rendervalues.mustache:

[code]

If you set `template_path` in your view for outer.mustache, that template_path is not used to find rendervalues.mustache because though we are using a View, the values aren't 'inherited'.

Bug is in

[2010-10-10 04:14] breathe opened #15 "not correctly handling 'Non-False Values'"
pystache doesn't implement the behavior for 'Non-False Values' described in the mustache 'spec':

[1]http://mustache.github.com/mustache.5.html

Example from spec page:

Template:

{{#person?}}
  Hi {{name}}!
{{/person?}}
Hash:

{
  "person?": { "name": "Jon" }
}
Output:

Hi Jon!

pystache iterates over the keys of the {"name": "Jon"} object -- this gives an error as the string object "name" has n

[2010-10-10 05:10] breathe commented on #15
Apologies as this has been fixed in the git branch -- problem still exists in most recent release version though.

[2010-10-17 16:46] sebastien commented on #6
The quick fix I added is to change the section regexp to

[code]

[2010-11-09 08:38] defunkt opened #16 "New Maintainer?"
Does someone want to take over? I'm not using Pystache in any projects.

[2010-11-23 14:42] T1B0 commented on #6
I've run in the kind of same issue as FallingBullets,
with :

[code]

i wanted :

[code]

 so i tweaked the regexp like this :

[code]

It does preserve indentation space and _some_ newlines, but is kind of flawed (especially with multiple newlines, or newlines before tag)

So that _work_ (barely) but tell me if you find anything fancyer

[2010-12-14 14:50] kevincarrogan commented on #16
Myself and my colleague (http://github.com/carlmw) will are actively using pystache in a project of ours and would be happy to take over maintenance.

[2010-12-16 00:56] defunkt commented on #16
![](https://img.skitch.com/20101216-j2hu4adm32bwpiifiuq98etjux.png)

[2011-03-10 07:24] gsong commented on #6
In `Template.render_sections()`'s `elif it:` block, instead of:

[code]

This instead:

[code]

[2011-03-15 08:14] gabor opened #20 "custom delimeter in sections do not work"
this does not work:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "pystache/**init**.py", line 7, in render
        return Template(template, context).render()
      File "pystache/template.py", line 57, in render
        result = self.render_tags(template, context)
      File "pystache/template.py", line 113, in render_tags
        func = modifiers[t

[2011-03-15 09:35] pvande commented on #20
This is because pystache attempts to parse out Inverse / Section tags before it ever attempts to parse any other tag type.

For a concrete set of tests for this and similar edge-case behaviors, check out the [official spec](https://github.com/mustache/spec).

For a (lightweight) example parser, I humbly suggest the pattern used in [Milk](https://github.com/pvande/Milk).

[2011-03-15 17:05] kevincarrogan commented on #20
Thanks pvande.

I've definitely come across some of the edge cases which have been fixed but looking forward (or not as the case may be) to plugging in the tests in the spec to see what needs fixing.

I may put in a "hackier" fix to get the delimiter change working and then think about making a Python implementation similar to Milk.

[2011-06-09 21:47] #16 closed, assigned to nobody

[2011-06-15 06:53] nickretallack opened #24 "Fails test "Nested (Truthy)" from Mustache Spec"
https://github.com/mustache/spec/blob/master/specs/sections.yml#L123

[code]

[2011-06-15 08:30] carlmw commented on #24
Thanks Nick, we're currently working on a version of pystache that builds upon Pieter's work on the spec and his fork of pystache itself. You'll find it at https://github.com/defunkt/pystache/tree/spec-compliant . It's not quite there yet but we hope to have it out there within the next week or so.

[2011-06-15 23:50] nickretallack opened #25 "Trunk sometimes escapes list blocks for no reason"
Every list block except the first one in the template has its contents escaped.

[code]

You can't get the error by repeating the same block though: if it renders unescaped the first time, it will do the same thing the second time, and visa versa.

[code]

The error does not occur at tag 3.1.  Just thought I'd make you guys aware of this.

[2011-06-16 00:05] nickretallack commented on #25
Used git bisect to locate the commit that breaks it.  75254d671adcf0cbc56a9c86cb831d6b5a7676dc.  Revert it and everything's peachy.

[2011-07-08 11:11] fidanov opened #26 "Mustache(5) example not working"
Template:

{{#person?}}
  Hi {{name}}!
{{/person?}}

Dictinary:
{
  "person?": { "name": "Jon" }
}

Crashes -> this also does not work in the javascript version, I will submit a bug there also.

[2011-09-03 13:41] girvan opened #30 "Support python2.5 on Google App Engine"
I knew the requirement is python2.6, but it's better to support python2.5. It will be more useful for  Google App Engine developers.
It only few lines change, I will attach the code later.

[2011-09-03 15:41] girvan commented on #30
It's duplicated on #13

[2011-09-03 15:41] #30 closed, assigned to nobody

[2011-09-17 15:25] reustle commented on #6
Hey @gsong, do you mind doing a pull request? I can as well. I'd love to see this fixed :)

[2011-09-27 14:29] rslinckx opened #32 "Add option to disable html escape"
It would be nice to be able to generate raw text output for text emails for example. An option on the View to disable html escape altogether for example.

[2011-09-29 00:12] fczuardi opened #33 "multiline comments not working"
From: http://mustache.github.com/mustache.5.html

[code]

Here is my testcase:

[code]

Expected output:

[code]

Current output:

[code]

Sugested fix:

[code]

[2011-10-03 02:50] drewp commented on #25
Alternate example that breaks similarly, and is fixed by that revert (thanks, nickretallack!):

[code]

[code]

[2011-10-19 04:34] adamjernst commented on #6
Just ran into this too. :-(

[2011-10-27 20:37] cjerdonek commented on #6
White space is important to me because I'm thinking about using pystache for Python source code templates.

However, it doesn't seem like there's a clear choice as to how white space should be handled if white space should be treated significantly.  For example, should white space before a template section item appear in the rendered version before every item, before just the first item, before ev

[2011-11-20 21:41] chrisvest opened #35 "Changing delimiters back is retroactive"
These two expressions should produce identical results, but don't:

[code]

[2011-11-23 20:14] holizz opened #36 "{{#x}}{{#x}}{{/x}}{{/x}} breaks"
You cannot work with objects such as the following due to pystache's reliance on regular expressions instead of a grammar:

`{documents: [{name:1, children:[{name: 2, children:[...]}]}]}`

Here's a test case that causes pystache to raise an exception:

http://pastebin.com/4eAYfyKD

[2011-11-24 02:06] cjerdonek opened #37 "mustache(5) documentation: clarify that non-false values inherit parent context"
The mustache(5) documentation isn't always explicit as to when the parent context should be inherited, though this seems to be implied in parts.  To reduce ambiguity, I think it would help to be more explicit on this point.

I don't know all the parts that need clarification, but here is one:

[code]

If my understanding is right, I think something like the following would be clearer:

[code]

Tha

[2011-11-24 02:18] cjerdonek commented on #37
Reposted here instead: https://github.com/defunkt/mustache/issues/122

[2011-11-24 02:18] #37 closed, assigned to nobody

[2011-11-26 22:17] cjerdonek opened #38 "maintainers?"
Is anyone actively maintaining this repo anymore?  How do we go about reviving it?

[2011-11-26 22:31] defunkt commented on #38
I recently added @io41 as a contributor and would be happy to add anyone else who wants to hack on Pystache.

[2011-11-26 22:43] cjerdonek commented on #38
Thanks for replying so promptly.  I would like to be added.

[2011-11-26 22:46] io41 commented on #38
@cjerdonek, I've only been added added a few days ago and have been looking over the various branches and forks around. I'm hoping to get a better overview of all that's going on around pystache before accepting pull requests and tackling the current open issues.
There's been a fair few commits regarding tidying up code, adding comments, PEP8 corrections, most which are outstanding in pull request

[2011-11-26 23:09] cjerdonek commented on #38
@io41, thanks for the reply.  I agree with your approach.  A mailing list sounds like a great idea and would be a good place to get agreement on the direction of things, etc.  Over time I also think it would be helpful for some of us to familiarize ourselves with the Ruby version to see how it compares with pystache in terms of features and compliance, etc.  At a glance, it seems to be a bit more

[2011-11-26 23:21] io41 commented on #38
I was thinking the same. Another implementation I've been meaning to take a closer look at is @janl's https://github.com/janl/mustache.js/.

I've created the mailing list: pystache@librelist.com

[2011-11-26 23:27] defunkt commented on #38
@pvande is the driving force these days. He oversees https://github.com/mustache/spec

[2011-11-26 23:38] io41 commented on #38
Afaik @carlmw wrote test code for the specs in https://github.com/mustache/spec. It's in the "spec-compliant" branch. I've been playing with this a little but have yet to look at that entire branch properly to see what state it's in. Also, I've not looked at how far, and to what degree the current state of pystache is spec compliant. It might be nice to have these tests in the development branch t

[2011-11-27 20:11] cjerdonek opened #40 "Allow template files to be extensionless"
Currently, pystache.loader.Loader.load_template() [adds a dot](https://github.com/defunkt/pystache/blob/f543efac93b753914a20b9daaf84a51382fba445/pystache/loader.py#L20) no matter what :

[code]

[2011-11-27 20:31] cjerdonek opened #41 "TemplateSpec should let one specify the template file path"
It seems like the View class should allow one to specify the path to the view's template file directly.

Currently, the only way to do this is to strip the extension from the file name and set this as the View instance's template_name, and then include the file's directory in a list of template directories and set this as the View instance's template_path, which seems more awkward than it needs to

[2011-11-27 23:40] carlmw commented on #38
We're currently planning to bring pystache in line with the spec by building on my colleague @dgym's work on cystache (https://github.com/dgym/cystache). If you're looking for fast a implementation I'd look there. It doesn't suffer from the tight coupling with View and generally rocks. Going forward I see pystache building that work.

[2011-11-28 03:12] pvande commented on #38
I did a spec-compatible tweak to pystache based on [Milk](https://github.com/pvande/Milk)'s (_very fast!_) parser in my fork a while ago (https://github.com/pvande/pystache).  I never submitted it as a pull request, because I couldn't quite get the Pythonic feel in place, and it felt like hacking the right thing into the wrong API.  It's still worth taking a look at, in part because [the spec exam

[2011-11-28 12:56] carlmw commented on #38
@pvande the spec-compliant branch was my attempt to bring your fork in (nice job btw). I think that finishing that off would solve a lot of the outstanding issues. I left it in a separate branch because I figured that it would break compatibility with the current implementation (there are a few quirks).

There are currently 14 failures in the spec-compliant branch. If we can nail these I think we'

[2011-11-29 02:36] cjerdonek commented on #38
Are those who would like to participate as maintainers okay with @io41's suggestion to use the mailing list he created for discussion?  I posted a message there, but no one responded.  I don't have a strong preference, but I think being on the same page would help.

Incidentally, does the GitHub UI not allow people who haven't been added as collaborators to see the list of collaborators for a proj

[2011-12-03 02:08] cjerdonek commented on #13
I believe the specific issue raised by this post has been addressed in master by now, as well as in [the development branch](https://github.com/defunkt/pystache/blob/5f1c034defeeaf94c139cfa883e3337c78db5ea6/pystache/template.py#L161):

[code]

And [in the View class](https://github.com/defunkt/pystache/blob/5f1c034defeeaf94c139cfa883e3337c78db5ea6/pystache/view.py#L44):

[code]

However, we should

[2011-12-03 02:25] cjerdonek opened #43 "Report spec compliance"
From the [Mustache spec](https://github.com/mustache/spec):

[2011-12-08 15:52] jakearchibald opened #44 "Seems to be treating context strings as templates"
[code]

Outputs `Hello` while I'd expect `Hello {{world}}`. which is what http://mustache.github.com/#demo outputs.

Also means the following throws an error

[code]

[2011-12-08 18:18] jakearchibald opened #46 "Output of callables treated as template code"
This is caused by `_render_tags` operating on the output of `_render_sections`

Failing test:

[code]

[2011-12-08 18:28] jakearchibald commented on #46
As far as I can tell this is a problem for all sections. I guess _render_tags and _render_sections need to be done at the same time sequentially, and the output protected from further rendering.

[2011-12-10 23:43] cjerdonek commented on #6
I believe this issue has been fixed as part of pull request #27 (committed today to the development branch).

[2011-12-10 23:43] #6 closed, assigned to nobody

[2011-12-11 03:19] cjerdonek opened #47 "Allow partials to be passed as a dictionary"
This issue is copied from issue #31 so that the two issues it raises can be handled and discussed separately.

[2011-12-11 03:28] cjerdonek commented on #47
This feature can be implemented by allowing a template loader to be passed to the View's constructor.  The template-loading related attributes of template_path, template_encoding, and template_extension more properly belong to a loader instance anyways.  This will in turn promote more separation between the View and Loader classes, which we need.

[2011-12-11 05:14] cjerdonek commented on #47
I created branch [issue_47](https://github.com/defunkt/pystache/tree/issue_47) for this.

[2011-12-11 07:17] cjerdonek commented on #47
[Here](https://github.com/defunkt/pystache/commit/4794333c5fd83dd02d79e5c2c97129c236a0780e#L4L32) is an example in the unit tests of passing partials as a dictionary.

[2011-12-11 07:17] #47 closed, assigned to nobody

[2011-12-11 08:02] #13 closed, assigned to cjerdonek

[2011-12-13 03:59] cjerdonek opened #48 "Template class should not depend on the View class"
This is an issue placeholder for the milestone "Template class should not depend on the View class" -- for discussion purposes and so we can reference it.

It doesn't seem like GitHub lets one easily link to or discuss a milestone directly.

[2011-12-13 04:13] cjerdonek opened #49 "View class should not "own" the context"
It seems like View instances should not "own" the rendering context (as [they currently do via `View.context_list`](https://github.com/defunkt/pystache/blob/22fbaa2b0d1bd225a5319679febcb4304c193ab1/pystache/view.py#L62)).

The context stack is part of the state used during the rendering process, and so would be more appropriately owned and managed by whatever is doing the rendering.  (Currently Te

[2011-12-13 04:39] cjerdonek commented on #49
I should also add that I think it makes sense to have a Context class, which would encapsulate the notion of a context (stack).

Internally, the context stack could be stored as a list.  An element of the list could be either a dictionary, view, or (perhaps even) another Context instance.

It looks like the Ruby implementation [has taken a similar approach](https://github.com/defunkt/mustache/blob

[2011-12-17 09:43] cjerdonek opened #50 "Template(foo="bar") raises an exception"
Passing `**kwargs` to `Template.__init__()` with no context raises an exception:

[code]

[2011-12-17 10:00] #50 closed, assigned to cjerdonek

[2011-12-17 10:06] cjerdonek opened #51 "Passing **kwargs to Template.__init__() modifies the context"
Passing `**kwargs` to `Template.__init__()` modifies the passed context:

[code]

We should make a copy of the context inside `Template.__init__()` like we do [in `pystache.render()`](https://github.com/defunkt/pystache/blob/a484f30f593f1047a99c8361e19d5b3d3894790c/pystache/init.py#L21).

[2011-12-17 10:24] #51 closed, assigned to cjerdonek

[2011-12-17 20:00] #49 closed, assigned to cjerdonek

[2011-12-17 20:39] #48 closed, assigned to cjerdonek

[2011-12-17 21:20] cjerdonek opened #52 "Remove the context parameter from Template.__init__()"
Rather than passing the context to render to `Template.__init__()`:

[code]

I think we should pass the context to render to `Template.render()`:

[code]

This is conceptually clearer because the context to render is distinct from the template itself.

This also has at least a couple advantages from an API perspective:

(1) It lets you render multiple contexts with the same template:

[code]

(2)

[2011-12-18 21:32] #52 closed, assigned to cjerdonek

[2011-12-18 23:17] cjerdonek commented on #44
Thanks for the tests and fix!

[2011-12-18 23:17] #44 closed, assigned to nobody

[2011-12-19 02:10] cjerdonek commented on #46
Thanks for the report, test case, and fix!

[2011-12-19 03:17] #32 closed, assigned to cjerdonek

[2011-12-19 03:18] cjerdonek commented on #32
@rslinckx, thanks for the suggestion!

[2011-12-19 04:10] #40 closed, assigned to nobody

[2011-12-19 04:55] cjerdonek commented on #8
Will be taking a look at this.  Here is the test case in the zip file included in one of the [first comments above](https://github.com/defunkt/pystache/issues/8#issuecomment-231512):

Context:

[code]

Template:

[code]

[2011-12-19 05:17] cjerdonek commented on #8
This must have gotten fixed somewhere along the way.  Seems to be fixed in master as well.

[2011-12-19 05:17] #8 closed, assigned to nobody

[2011-12-19 08:50] cjerdonek opened #54 "Allow unit testing both with and without markupsafe"
We need a mechanism to allow testing of the Template class with markupsafe both enabled and not enabled.

[2011-12-19 21:34] #54 closed, assigned to nobody

[2011-12-20 13:47] cjerdonek commented on #25
It looks like this is the same as issue #53, which was just closed.  It has been fixed in the development branch (with a unit test case added).  I also confirmed that your examples don't work in master but work correctly in the development branch.

Thanks for your patience!

[2011-12-20 13:47] #25 closed, assigned to nobody

[2011-12-20 14:31] cjerdonek commented on #10
I also think we should ensure that incoming template strings are unicode strings (converting them if necessary using the encoding above), and generally do everything in unicode in the Template class.  Currently, we're mixing byte strings and unicode strings which doesn't make for a great situation.  We probably also want to support [`unicode()`'s `errors` parameter](http://docs.python.org/library/

[2011-12-20 15:37] cjerdonek opened #55 "Add to Template() support for "encoding" and "errors""
The Template class should support `encoding` and `errors` attributes (suitably named) that can be passed to [`unicode()`](http://docs.python.org/library/functions.html#unicode) and [`markupsafe.Markup()`](https://github.com/mitsuhiko/markupsafe/blob/98caea1496846935dd60a0e170c401e91ce9029a/markupsafe/__init__.py#L67) when converting Python `str`'s to unicode.

This is towards issue #10.

[2011-12-20 17:01] cjerdonek opened #56 "Change "disable_escape" to "escape" in Template.__init__()"
The constructor [`Template.__init__()`](https://github.com/defunkt/pystache/blob/e2ce832b01e78e1bb420e70315468aa19b2063ca/pystache/template.py#L63) should accept an optional `escape` function argument instead of the boolean `disable_escape`.  This is more natural.

Examples:
- Users wanting no escaping can pass `lambda s: s`.
- Non-markupsafe users wanting double-quotes escaped can pass `lambda s:

[2011-12-21 01:20] #56 closed, assigned to cjerdonek

[2011-12-21 02:42] #55 closed, assigned to cjerdonek

[2011-12-21 04:43] cjerdonek opened #57 "Template.render() should convert templates to unicode"
This doesn't work yet (passing `Template()` an output encoding and a non-unicode template with non-ascii characters):

[code]

This is towards issue #10.

[2011-12-21 04:52] #57 closed, assigned to cjerdonek

[2011-12-21 05:11] cjerdonek commented on #10
FYI, this has been implemented in the development branch for the Template class -- but not yet for Views.

[2011-12-21 05:23] cjerdonek opened #58 "Create a RenderEngine class (make Template class smaller)"
We could simplify the code a bit by creating a RenderEngine class to house the rendering logic separate from the Template class.

This class would be used internally by the Template class and would operate only on unicode strings and Context instances.  The end-user wouldn't interact with the RenderEngine class directly.  The Template class would serve for now as the end-user API for the RenderEng

[2011-12-22 02:28] #58 closed, assigned to nobody

[2011-12-22 02:53] cjerdonek opened #59 "Rename Template class to Renderer class"
The Template class is really more of a "rendering" class for storing all of the options on how to render a template string.

The attribute `self.template` is only used once in the class, and that's in the `Template.render()` method when it passes `self.template` to the `RenderEngine`.  So why not just pass the template string directly to `render()`?

This will make the API much simpler going forwa

[2011-12-22 03:35] #59 closed, assigned to cjerdonek

[2011-12-22 04:22] cjerdonek opened #60 "Support View attributes in Renderer class"
The Renderer class should support the same template-related attributes that the View class supports (e.g. template_encoding and template_extension) -- e.g. when creating a default Loader.  This will bring template-rendering to parity with view-rendering.

[2011-12-22 05:37] cjerdonek opened #61 "Renderer class should handle load_template not returning unicode"
Make `Renderer.render()` more robust.  Currently, it can break if load_template returns a non-unicode string with non-ascii characters.  This is related to issue #10.

[2011-12-22 05:49] #61 closed, assigned to cjerdonek

[2011-12-22 05:51] cjerdonek opened #62 "Loader.load_template() should always return unicode"
It's better to fail fast.

[2011-12-22 06:29] #62 closed, assigned to cjerdonek

[2011-12-22 08:29] cjerdonek commented on #33
@fczuardi, thanks for the report, test case, and fix!

[2011-12-22 08:29] #33 closed, assigned to nobody

[2011-12-23 01:20] cjerdonek commented on #60
Rethinking this, it's probably better if the Renderer class doesn't have to know about a particular loader implementation.  It can just have a "loader" attribute and know that the loader implements a `get()` satisfying certain properties (e.g. a `dict` or `TemplateLoader`).

[2011-12-23 01:20] #60 closed, assigned to nobody

[2011-12-23 23:07] cjerdonek opened #63 "doctests should pass"
Also, they should pass running `nosetests --with-doctest`.

[2011-12-23 23:11] #63 closed, assigned to nobody

[2011-12-23 23:17] cjerdonek opened #64 "Change Renderer to accept a loader implementing get()"
Changing `Renderer.__init__()` from accepting a load_template function to accepting a loader with a `get()` method will simplify the API a bit.  This will also make loading partials from a dictionary easier (and the same as passing a loader), since dictionaries implement get():

[code]

[2011-12-24 00:16] #64 closed, assigned to cjerdonek

[2011-12-24 00:20] cjerdonek opened #65 "Loader should accept decode_errors like Renderer"
The Loader constructor should accept a decode_errors keyword argument like the Renderer class does.  It already supports an encoding argument.

[2011-12-24 00:58] #65 closed, assigned to cjerdonek

[2011-12-24 04:46] cjerdonek commented on #15
This indeed isn't an issue in the current master branch, but I will make sure this case is covered by our unit tests before closing this issue.

[2011-12-24 05:23] #15 closed, assigned to cjerdonek

[2011-12-24 05:50] cjerdonek commented on #11
Using `git-bisect`, it looks like this was fixed back in Dec. 2010 by [this commit](https://github.com/defunkt/pystache/commit/5f35d312486ed49ebb6a4039cbc21328571263d9).  It still seems to be fixed.

I will make sure we have a test case covering this issue before closing this issue.

[2011-12-24 08:33] #11 closed, assigned to nobody

[2011-12-24 08:59] cjerdonek commented on #15
For future reference, using `git-bisect`, it looks like this was fixed back in May 2010 in [this commit](https://github.com/defunkt/pystache/commit/3bcd6b632c3bed0a99ed2b18516dd17f395ede73).

[2011-12-24 09:00] cjerdonek commented on #26
It looks like this is a duplicate of issue #15, which has been closed.  See the comments there for more information and the resolution.

[2011-12-24 09:00] #26 closed, assigned to nobody

[2011-12-24 09:09] cjerdonek opened #66 "RenderEngine should operate only on unicode strings"
When markupsafe is importable, RenderEngine mixes operations between Markup strings and unicode strings.  This can (and has) lead to subtle double-escaping and related bugs, etc.  For clarity, RenderEngine should probably operate exclusively on unicode strings.  The conversion to Markup can take place afterwards.

We should also increase our test coverage to check for double-escaping and related i

[2011-12-25 14:30] #66 closed, assigned to cjerdonek

[2011-12-25 14:32] cjerdonek opened #67 "Use cgi.escape() with quote=True"
We should escape double-quotation marks by default.

[2011-12-25 14:42] #67 closed, assigned to nobody

[2011-12-25 14:50] cjerdonek opened #68 "Remove output_encoding option from Renderer, etc."
The output_encoding argument to Renderer() and View.render() doesn't seem to be worth holding on to.  All it does is cause `rendered.encode()` to be called with that encoding as the very last step of the rendering process.  We return unicode by default, so this can easily be done by the caller (especially if the caller has to write to a file anyways).  We will probably want to support a lot of ren

[2011-12-25 14:59] #68 closed, assigned to cjerdonek

[2011-12-25 15:27] cjerdonek opened #69 "Remove markupsafe dependency"
Markupsafe is currently used in just two places in the code: (1) to provide [`Renderer.__init__()`](https://github.com/defunkt/pystache/blob/development/pystache/renderer.py#L91) with a custom escape function, and (2) to wrap the return value of `Renderer.render()` in a custom class [in the last line](https://github.com/defunkt/pystache/blob/development/pystache/renderer.py#L221) of the rendering

[2011-12-25 16:03] #69 closed, assigned to nobody

[2011-12-25 16:06] cjerdonek opened #70 "Support Renderer.render(object, context)"
Support passing an object to `renderer.render()`.  The Renderer class can employ logic similar to the View's (constructing the template name, etc) to locate the template.

[2011-12-25 23:19] cjerdonek opened #71 "Bring the spec tests into the development branch"
This can be done by merging the first couple commits of the spec-compliant branch.

[2011-12-25 23:46] #71 closed, assigned to cjerdonek

[2011-12-26 19:21] cjerdonek opened #72 "Put the template reading code into a Reader class"
The Loader class is currently responsible for both finding and reading templates.  There are cases where we only need to read a template and not find one though (i.e. we are given the path), so it makes sense to separate this logic off into its own class.  This will also aid us in thinking about the right API.

[2011-12-26 19:26] cjerdonek opened #73 "Default to running unit tests without spec tests"
Since we have so many spec-test failures right now, let's default to running the unit tests without them but have an option to include them.

[2011-12-26 20:01] #73 closed, assigned to cjerdonek

[2011-12-26 21:06] cjerdonek commented on #72
Fixed in [this commit](https://github.com/defunkt/pystache/commit/5849424488dc367bdda7dbd66a006350b83cbc74) (there is a typo in the commit message).

[2011-12-26 21:06] #72 closed, assigned to cjerdonek

[2011-12-26 21:21] cjerdonek commented on #38
I'm curious about something.  What's the reason for the apparent discrepancy between @carlmw saying above that there are 14 failures in the spec-compliant branch, and @pvande saying in [this commit](https://github.com/defunkt/pystache/commit/e06bed513dd380bb7760a2bf69af2f7bc0edf405) (which was merged into spec-compliant) that the code is "compatible with Mustache spec v1.0.3."  Is that because the

[2011-12-27 02:15] cjerdonek opened #74 "Add Renderer.render_path()"
Adding `Renderer.render_path(template_path, ...)` to Renderer's API should make it easier to play around with pystache.  For example, it would have helped [this person](http://librelist.com/browser//pystache/2011/12/19/pystache-flask-and-loading-templates/).  Also, adding this functionality to the Renderer class will help in implementing issue #70.

[2011-12-27 17:06] #74 closed, assigned to cjerdonek

[2011-12-30 05:20] #70 closed, assigned to cjerdonek

[2011-12-30 05:35] cjerdonek commented on #10
This is now also supported for views in the development branch via the new [`renderer.render(view)`](https://github.com/defunkt/pystache/blob/7e0270b0dac540e17c020d2eefec6fb82099bf18/tests/test_renderer.py#L403) syntax.  Pass the encoding behavior to the Renderer instance via the [`default_encoding` and `decode_errors`](https://github.com/defunkt/pystache/blob/7e0270b0dac540e17c020d2eefec6fb82099b

[2011-12-30 05:35] #10 closed, assigned to cjerdonek

[2011-12-30 05:52] cjerdonek opened #75 "Rudimentary benchmarking capabilities"
As we make the parser in the development branch more compliant with the spec, it would be nice if we had some rudimentary benchmarking capabilities.  This would be useful for comparing any new parser implementations (e.g. what's currently in the spec-compliant branch) with what's currently in master.  This would be so that we don't, say, make the new implementation an order of magnitude worse than

[2011-12-30 05:59] cjerdonek commented on #75
/cc @holizz (hope you don't mind)

[2011-12-30 07:01] #75 closed, assigned to nobody

[2012-01-01 20:02] cjerdonek opened #76 "Merge @pvande's parsing logic"
This issue is to merge @pvande's "spec compliant" code from [here](https://github.com/defunkt/pystache/tree/e06bed513dd380bb7760a2bf69af2f7bc0edf405) into the development branch.  Spec tests and unit tests should continue to work after the merge.

Also, we should check that speed shouldn't get _too_ much slower -- though getting slower is definitely okay.  We're not nearly at the point of worrying

[2012-01-01 20:56] cjerdonek commented on #46
In the process of bringing in some code for a spec-compliant parser, I discovered that this is not actually a bug.  The [spec says here](https://github.com/mustache/spec/blob/9b1bc7ad19247e9671304af02078f2ce30132665/specs/~lambdas.yml#L5) that lambda return values should be interpolated (i.e. interpreted as templates).

Reopening until this is corrected.

[2012-01-01 22:18] cjerdonek commented on #76
Done in 64cbf12910e37f6253d132c8c6a8e9610f519103

[2012-01-01 22:18] #76 closed, assigned to cjerdonek

[2012-01-01 22:18] cjerdonek commented on #46
Fixed in 64cbf12910e37f6253d132c8c6a8e9610f519103

[2012-01-01 22:18] #46 closed, assigned to nobody

[2012-01-01 22:36] cjerdonek commented on #20
This is now fixed in the development branch -- after merging @pvande's parsing code.

Also, the spec tests now run as part of the unit tests.  I'll close this issue after adding an explicit test case (for those who don't pull down the spec submodule).

[2012-01-01 23:56] jakearchibald commented on #46
Cool, http://mustache.github.com/mustache.5.html needs updated to reflect this.

[2012-01-02 01:24] cjerdonek commented on #46
Agreed, it seems like that doc is outdated in a number of respects.  Look at [this issue](https://github.com/mustache/spec/issues/27), for example.

[2012-01-02 02:01] cjerdonek commented on #46
Also, I've [updated](https://github.com/defunkt/pystache/tree/development) the pystache README documentation section with a link to the spec and a remark that it is more current than mustache(5).

[2012-01-02 02:19] #20 closed, assigned to nobody

[2012-01-02 02:35] #24 closed, assigned to nobody

[2012-01-02 03:07] cjerdonek commented on #35
This is now fixed in the development branch.  Added test case to show it.

[2012-01-02 03:07] #35 closed, assigned to nobody

[2012-01-02 03:07] cjerdonek commented on #35
Thanks for the report!

[2012-01-02 03:21] cjerdonek commented on #36
This is now fixed in the development branch.  Thanks for the report!

[2012-01-02 03:21] #36 closed, assigned to nobody

[2012-01-02 03:27] cjerdonek commented on #38
I'm closing this issue as @pvande's code has been merged into the development branch as of today, and because this repo is now being maintained.

I will also be deleting the spec-compliant branch in the next few days since @pvande's code in that branch has been merged with all tests passing.

[2012-01-02 03:27] #38 closed, assigned to nobody

[2012-01-02 03:44] #43 closed, assigned to nobody

[2012-01-02 03:52] cjerdonek opened #77 "Create release v0.5.0 from development branch"
We should merge development to master at some point and create a new release -- perhaps v.0.5.0.

There is just a bit more code cleanup that I think should be done (renderengine.py and view.py) as well as summarizing the changes better in the history file.

[2012-01-02 09:14] cjerdonek commented on #76
In commit 35dc5e2b18f4cad1382437da199951255fe642e1, after having refactored some, the benchmark results are now down to--

[code]

which is an improvement over what it was before.

[2012-01-04 16:07] abentley opened #78 "Pystache can't access outer variables in loops"
The following fails, but should work (and the equivalent does work with mustache.js)

Tested with 0.3.1

[2012-01-04 17:10] cjerdonek commented on #78
This should already be fixed in the development branch (and possibly even in master).  See (closed) issue #8, for example.  Can you try there?

[2012-01-04 18:24] abentley commented on #78
I can confirm it's fixed in whatever git clone defaults to.

[2012-01-04 19:54] cjerdonek commented on #78
Okay, thanks for reporting and confirming, @abentley.  I'm going to close this issue.  Hopefully we'll have a genuine, new release within the next month or so containing all of these fixes (issue #77).

[2012-01-04 19:54] #78 closed, assigned to nobody

[2012-01-09 13:22] phihag opened #79 "Quotes are not escaped"
This may be an error in mustache, or a misconception of mine, but why are quotes (in attribute values, but optionally everywhere else too) not escaped?

[code]

I expected

[code]

which matches the output (sans `u`, of course) I get from [mustache.js](https://github.com/janl/mustache.js).

[2012-01-09 16:27] cjerdonek commented on #79
Thanks for the report.  This is a known issue (issue #67) that has been fixed in the development branch.  Hopefully we'll be [releasing that](https://github.com/defunkt/pystache/issues/77) in the not-too-distant future.  In the meantime, if you're using what's in master, I believe things should work as you expect if you install [markupsafe](http://pypi.python.org/pypi/MarkupSafe) (the version in m

[2012-01-09 17:52] #79 closed, assigned to nobody

[2012-01-09 17:52] phihag commented on #79
Since I modify pystache anyways (to get it running under Python 3), I just patched in the fix:

[code]

With this change, quotes are correctly escaped.

[2012-01-09 19:58] cjerdonek commented on #79
Great!

[2012-01-11 05:23] cjerdonek opened #80 "Create a more compact representation for rendering test cases"
It would be nice to create a more compact way to represent rendering test cases -- similar to how the [mustache spec](https://github.com/mustache/spec) does it.  This would make the rendering portion of our unit tests a lot more concise.

The representation should be language-neutral, which would allow us to share these test cases with other implementations.  This would allow for more cross-implem

[2012-01-14 09:41] cjerdonek opened #81 "Do not call methods on strings"
See the comment for [this commit](https://github.com/schallis/pystache/commit/71779446be442085be0cd408dfa81ad389165cca) by @schallis:

[2012-01-17 16:47] #81 closed, assigned to cjerdonek

[2012-01-17 22:55] nkallen opened #82 "Inverted Sections Don't Support Hashes"
The output SHOULD be 'YES', not 'YESNO'

[2012-01-17 23:07] nkallen commented on #82
OK I just confirmed that this is fixed in the current version of master

[2012-01-17 23:07] #82 closed, assigned to nobody

[2012-01-19 09:18] Tupteq opened #83 "Pystache version in PyPI is _really_ old (May 2010)"
It looks like lot of time passed since last PyPI release. I think it's a good idea to release there as often as possible.

[2012-02-02 21:19] evandrix commented on #83
Please update the copy at PyPI with the one here at GitHub. I'm working on a project which using this templating engine as well, and would prefer if i could do a simple `pip install`.

reference issue @ http://stackoverflow.com/questions/8908871/how-to-handle-nested-context

[2012-02-03 18:41] bobuk opened #84 "bug in delimiters changing"
I found what changing delimiters with {{= works fine until you don't try to work with nested syntax.
Just try this:

[2012-02-08 06:34] adiabatic commented on #83
I second this; I'm having the reference issue referred to in evandrix's comment.

[2012-02-13 00:45] sean- commented on #83
+1

[2012-02-15 13:05] bricef opened #88 "Partials Are HTML escaped if a section is in the template"
## Steps to reproduce

Take the following templates:

`partial.mustache`

[code]

`middle_nosection.mustache`

[code]

`middle_section.mustache`

[code]

run pystache against both templates, and inspect the output:
## Output

[code]

For the section:

[code]
## Expected

That both partials are rendered the same way (no escaping)

[2012-02-15 13:47] bricef commented on #88
Possibly related, lambdas are also escaped before displaying.

[2012-02-15 14:51] bricef commented on #88
I narrowed it down to the `literal` function, which, in case markupsafe is installed, escapes html strings.

[code]

and

[code]

turn out to have significantly different meanings.

I've worked round the issue in my code by [forcing `literal` to mean `unicode`](https://github.com/bricef/pystache/commit/1f2dbfcaaf1a0af1b826dc4a86ae0d96a14169e4).

[2012-02-16 10:13] tomekwojcik commented on #83
:+1:

[2012-02-26 15:31] lucasb-eyer commented on #83
+1

In the meantime, you can install the github version using:

[code]

Although it will be reported as version "0.3.1"

[2012-02-29 02:04] talos commented on #83
This is because setup.py still has the version set to "0.3.1".  I'm going to fork, fix, and pull that one.  There's no way to push an update to Pypi if the manifest itself is wrong.

Edit: I opened the pull request:

https://github.com/defunkt/pystache/pull/90

[2012-02-29 08:45] lucasb-eyer opened #91 "Changing delimiters should only affect the upcoming text."
I am not sure if/how this issue relates to issue #84

using the dataset `{"a":"a", "b":"b", "c":"c", "d":"d", "e":"e", "f":"f"}`

The following:

[code]

Should result in:

[code]

But it actually results in:

[code]

This is very bad if you want to use both server-side and clien-side templates within one file. I checked the code and couldn't think of a quick-fix because this bug is inherent in th

[2012-02-29 10:45] lucasb-eyer commented on #84
This issue bothers me too. It also seems to reveal a bug in the reference implementation. Running

[code]

in http://mustache.github.com/#demo with the dataset

[code]

Shows up

[code]

While I'd have expected

[code]

Or are we misinterpreting the reference documentation here, @defunkt ?

[2012-02-29 10:52] cjerdonek commented on #84
This seems to be the same as issue #20 which has already been fixed in the development branch.  See this [test case](https://github.com/defunkt/pystache/blob/32adefb9c06627e228e8fc2de1b4b5cae4f800a5/tests/test_renderengine.py#L404) for example.  I also verified that the test case in the original comment above does work in the development branch:

[code]

[2012-02-29 10:53] #84 closed, assigned to nobody

[2012-02-29 10:56] cjerdonek commented on #83
See also issue #77.

[2012-02-29 11:16] cjerdonek commented on #88
Can you try this with the code in the development branch?  Almost all of the issues that have been reported have been fixed there.  I know that references to markupsafe.Markup, for example, have been removed from the code that is currently in the development branch.

[2012-02-29 11:23] cjerdonek commented on #91
This is possibly a duplicate of issue #35, which has been fixed in the development branch.  See this [test case](https://github.com/defunkt/pystache/blob/32adefb9c06627e228e8fc2de1b4b5cae4f800a5/tests/test_renderengine.py#L415), for example.  Just to be sure, I'll try to confirm that the example in the original comment above works in the development branch.

[2012-02-29 11:30] cjerdonek commented on #91
Yes, the test case presented in the original comment above works as expected in the development branch:

[code]

[2012-02-29 11:37] #91 closed, assigned to nobody

[2012-02-29 11:42] cjerdonek commented on #88
It looks like this may be a duplicate of issue #53.

[2012-02-29 11:50] bricef commented on #88
I can confirm that this works as expected in the development branch.

[code]

Closing as fixed in development.

[2012-02-29 11:50] #88 closed, assigned to nobody

[2012-02-29 11:54] cjerdonek commented on #88
Thanks a lot for checking, @bricef.  Hopefully one of us will have time to get the development branch pushed to master and PyPI soon (issue #77).

[2012-02-29 13:36] talos commented on #83
Understood.  Is it not worth pushing 0.4.0 to Pypi in the interim?

[2012-02-29 13:47] tomekwojcik commented on #83
IMHO it is worth pushing newer (but not necessarily the newest) version to PyPI as it'd make deployment of apps depending on Pystache a lot easier.

[2012-02-29 16:42] cjerdonek commented on #83
@talos @tomekwojcik Sure, I think you're right.  It's worth pushing 0.4.0 in the interim.  I'll try to do it by this weekend -- assuming I have (and if not, can obtain) the proper permissions.  Thanks for your patience.

[2012-03-05 07:23] cjerdonek commented on #83
FYI, yesterday (Saturday) afternoon I sent an e-mail to the current PyPI package index owners asking for PyPI permissions.  I'll let you know when I hear back from one of them.

[2012-03-06 20:16] cjerdonek commented on #83
Okay, I have permissions now.  I'll try to take care of this within the next couple days.

[2012-03-06 20:20] tomekwojcik commented on #83
@cjerdonek that's great news. Thanks a ton for the effort and :beer: for you :).

[2012-03-06 22:18] talos commented on #83
Ditto. Thanks @cjerdonek !

[2012-03-08 11:39] cjerdonek commented on #83
Okay, this is [now done](http://pypi.python.org/pypi/pystache/0.4.0).  Let me know if you experience any issues, as this is the first time I've ever uploaded to PyPI.  Also, I've left [v0.3.1](http://pypi.python.org/pypi/pystache/0.3.1) unhidden for now on the main page in case there are any problems with using v0.4.0.

[2012-03-08 11:39] #83 closed, assigned to nobody

[2012-03-09 03:04] talos commented on #83
I was able to obtain and install the new version from PyPI without any problems.  Thanks!

[2012-03-09 09:04] cjerdonek commented on #83
Great, thanks for checking @talos and for letting us know.

[2012-03-10 09:13] tomekwojcik commented on #83
Thanks for updating Pystache in PIP. All went well for me.

[2012-03-11 06:39] borismus commented on #32
Not obvious, but the way you prevent escaping in pystache is via triple braces: {{{myvar}}}. For an example see https://github.com/defunkt/pystache/blob/master/examples/unescaped.mustache

[2012-03-11 08:04] cjerdonek commented on #32
I interpreted this issue to mean offering the option to disable escaping in all tags -- including double-brace tags.  The original comment says, "disable html escape altogether."  As the original commenter alluded to, this can come in handy if you're using pystache for non-HTML purposes (e.g. for source code templating).  In cases like those, you'd pretty much never want to escape, so typing tripl

[2012-03-11 08:23] cjerdonek commented on #32
@borismus To answer an earlier version of your comment, this issue was resolved in the development branch.  The code in that branch has changed a bit since this issue was originally closed.  As of today, you can find the documentation on disabling escaping [here](https://github.com/defunkt/pystache/blob/cae37b1fb44912f42a129ca2764419c495b05efd/pystache/renderer.py#L72), in the documentation for th

[2012-03-24 18:58] drewp opened #96 "second list gets all its contents escaped"
Using the current git version:

[code]

I was expecting

[code]

[2012-03-24 19:09] drewp commented on #96
This seems related to https://github.com/defunkt/pystache/issues/88

[2012-03-24 20:36] cjerdonek commented on #96
Yes, can you test this in the development branch?

[2012-03-25 23:50] cjerdonek commented on #96
I confirmed that the test case above works correctly in the development branch.

[2012-03-25 23:50] #96 closed, assigned to nobody

[2012-03-25 23:51] cjerdonek opened #97 "Deploy v0.4.1 to PyPI (support for Python 2.4)"
See title.

[2012-03-29 04:21] #97 closed, assigned to cjerdonek

[2012-04-03 14:20] rbp opened #99 "Mustache spec v1.1.2 compliance"
Pystache (master and development) is currently compliant with Mustache spec 1.0.3. The latest spec version tag is v1.1.2.

I have a branch (from development) which implements v1.1.2 compliance. Namely, it implements dot notation. It also updates the specs submodule to the v1.1.2 tag. All tests are passing.

My branch is located at https://github.com/rbp/pystache/tree/spec-1.1.2-compliant . I am qu

[2012-04-03 14:53] cjerdonek commented on #99
Thanks a lot, @rbp.  And also for asking.  It is fine to do a pull request.  I should be able to process it fairly soon (within a week or so).  I will also let you know if I can recommend any changes.  Thanks.

[2012-04-03 15:11] rbp commented on #99
Cool, will do. Thanks :)

[2012-04-04 01:46] cjerdonek commented on #77
This is now done: a4d763d54d83d4cbc9c254c897165563b119f7e8

[2012-04-04 01:46] #77 closed, assigned to nobody

[2012-04-04 01:49] cjerdonek opened #101 "Deploy v0.5.0 to PyPI"
We should push v0.5.0 from master to PyPI after an initial waiting period (e.g. after a week).

[2012-04-05 15:09] cjerdonek opened #102 "Python 3 support: get all tests passing after 2to3"
I started this process [here](https://github.com/defunkt/pystache/tree/issue-102-support-python3).  The spec tests now all pass with Python 3.2.  About 25 other failures remain.

Here is the command for the conversion:

[code]

We should also make it so that the converted code is tested automatically by our test runner, e.g. using the strategy described in the [Distribute documentation](http://pac

[2012-04-07 00:56] cjerdonek opened #104 "Auto-run 2to3 when unit testing from Python 3"
We should update our test harness so that it runs `2to3` automatically when running tests from Python 3.  For example, we could try the approach described [here](http://packages.python.org/distribute/python3.html) of using the `use_2to3` keyword argument to `setup()`.

This might require us to do "manual" test discovery without use of `nose` since my preliminary experiments in passing [`test_suite

[2012-04-07 01:01] cjerdonek opened #105 "Don't require nose for tests"
If we can do test discovery without use of `nose`, then we should be able to run unit tests for Python 3 (issue #104) and pre-Python 2.4 (issue #103) more easily.

With regard to Python 3, my preliminary attempts to pass [`test_suite = 'nose.collector'`](http://readthedocs.org/docs/nose/en/latest/setuptools_integration.html#nosetests-command) to `setup()` for use with [Distribute's](http://package

[2012-04-07 16:59] #105 closed, assigned to nobody

[2012-04-07 18:54] #104 closed, assigned to nobody

[2012-04-09 00:17] cjerdonek commented on #102
I've merged some of this work into the development branch.  You can run the following from Python 3 to run the tests (except for the spec tests and README doctests):

[code]

The README has more info on this.

[2012-04-09 04:20] cjerdonek commented on #102
This was completed in commit d36bc2a1520bb0d6148e6472674808e3c7168e17.

Still need to get the distribution/packaging issues sorted out as in issue #106.

[2012-04-09 04:20] #102 closed, assigned to nobody

[2012-04-09 04:23] cjerdonek opened #106 "Make Pystache work "out of the box" with Python 3"
The current tests (including doctests and spec tests) all pass now with Python 3 after automatic conversion with `2to3`.  We just need to get it working "out of the box" now via appropriate changes to setup.py, etc.

[2012-04-09 05:10] cjerdonek opened #107 "Allow testing of all Python versions using a single script"
Thinking about using [tox](http://pypi.python.org/pypi/tox) for this.

[2012-04-11 05:50] #107 closed, assigned to nobody

[2012-04-11 07:04] cjerdonek commented on #101
This is now [done](http://pypi.python.org/pypi/pystache/0.5.0).

[2012-04-11 07:04] #101 closed, assigned to cjerdonek

[2012-04-11 09:54] cjerdonek commented on #106
I verified that this works with the latest in the development branch.

[2012-04-11 09:54] #106 closed, assigned to nobody

[2012-04-20 22:28] gonvaled opened #108 "Stream operation for pystache"
This is what I usually do to render a file with pystache:

txt = open(filename, 'r').read()
print pystache.render(txt, context).encode('utf-8')
("context" is my mapping)

But now I have to render very big templates, which causes memory problems. It would be great if pystache could operate on streams.

[2012-04-23 16:50] cjerdonek opened #109 "Release v0.5.1 with Python 3.x support"
Release v0.5.1 with support for Python 3.

[2012-04-23 20:49] richardhills opened #110 "Missing tag values always treated as empty"
It would be great (as apparently is the case in the Ruby moustache version) to have the option of errors generated when tags are missing.

In fact, since pystache uses hasattr to check for tags, this can cause errors to be lost if the tag is returned from a property function. Any exceptions generated by property functions are swallowed and pystache treats the tag as being unset.

[2012-04-23 21:20] cjerdonek commented on #110
Thanks.  Yes, I agree.  Thanks also for the point re: `hasattr`.  Related to this, I think we should start using the [EAFP approach](http://docs.python.org/glossary.html#term-eafp) more, which would translate in this case into not needing to use `hasattr`.

[2012-04-23 21:25] cjerdonek commented on #108
Thanks for the report.  For future reference, using [memory mapped files](http://docs.python.org/library/mmap.html) might be another possible approach to dealing with large files, but I'm not sure.

[2012-04-23 22:01] eykd opened #111 "Documentation needed: how to specify a template path?"
I found Pystache via http://duganchen.ca/single-page-web-app-architecture-done-right/ which uses this declaration to specify a template path:

[code]

With the move to 0.5.0 and the removal of the View class, this of course no longer works. The examples mix `*.py` and `*.mustache` files in the same folder, but I need to put my templates in a separate folder. The documentation for the library shoul

[2012-04-23 22:06] richardhills commented on #110
Good stuff. In our case, our tags are generated programmatically (for localisation), and this tag creation occasionally fails. On failure, we currently have no mechanism for terminating the templating, as any exceptions thrown are swallowed, and the resulting output is bad.

I'd much rather that templating fails with an exception, instead of generating bad output.

[2012-04-23 22:10] eykd commented on #111
My initial grep for `template_path` didn't turn anything up, but upon reading through the code and docstrings, I see that instantiating the Renderer with a `search_dirs` keyword argument may do what I'm looking for. However, this is a basic enough setting, it would be nice to have in the README example.

[2012-04-23 22:59] cjerdonek commented on #111
Hi @eykd, thanks for the report. And thanks for your patience with the switch to 0.5.0. I'm glad you found the `search_dirs` argument.

Another option, if you would like to customize the search directory on a per-view basis, is to subclass the [`TemplateSpec`](https://github.com/defunkt/pystache/blob/master/pystache/template_spec.py) class and set attributes there as appropriate.  In some sense, t

[2012-04-23 23:06] cjerdonek commented on #111
Thinking about this a little bit more, I'll start by adding a couple sentences at the end of the "Use It" section saying that attributes can be passed in or set on the `Renderer` to customize rendering behavior, and that views can subclass `TemplateSpec` for per-view customizations.  And then refer them to the class docstrings.

[2012-04-23 23:09] cjerdonek commented on #110
I'm thinking something like a "strict mode" on the `Renderer`.

[2012-04-23 23:26] eykd commented on #111
Honestly, I really don't like the magically-named subclass approach (or maybe I just don't get it), but I'll try to spare you my bike-shedding. Perhaps `pystache.render()` could use a default `pystache.default_renderer` object, instead of instantiating a new one each time? Then one could simply do `pystache.default_renderer.search_dirs.append(MY_TEMPLATE_PATH)`.

Crafting a good README strikes me

[2012-04-23 23:58] cjerdonek commented on #111
There are a couple reasons for the magic subclass.  The first is that it shouldn't be a requirement for the end-user to do anything special to create a view.  It's not necessary in many cases.  It just needs to be an instance.  The second is that it allows at least some users to be insulated from possible collisions between tag names and attributes on the subclass.

At some point there will have t

[2012-04-24 01:11] cjerdonek commented on #111
Addressed in the development branch

[2012-04-24 01:11] #111 closed, assigned to nobody

[2012-04-24 10:59] cjerdonek commented on #109
Release candidate pushed to master: b5a688920af19f74be8189150f4b8b7e27d9f416

[2012-04-24 11:22] cjerdonek commented on #79
FYI, I'm just about to release a new version of Pystache (v0.5.1, just [pushed](https://github.com/defunkt/pystache/commit/b5a688920af19f74be8189150f4b8b7e27d9f416) to master) with official support for Python 3.  If you're still using Pystache, I'd love for you to try it out.

[2012-04-25 12:46] ghost opened #112 "Add Python 3 manual installation instructions to README"
After a manual install with `setup.py build` and `setup.py install`, an "import pystache" fails with the following error :

<pre>
  File "pystache\renderer.py", line 26
    _STRING_TYPES = (unicode, type(u"a".encode('utf-8')))
                                      ^
SyntaxError: invalid syntax
</pre>

The sources files in the site-packages folder does not match the compiled versions.
Doing a `cp -

[2012-04-25 15:30] cjerdonek commented on #112
Thanks for the report.  I was able to reproduce this on Mac OS X, so I'm going to edit the title accordingly.

It looks like the issue might be that the directory for the original Python 2 source code is in your `sys.path` before the site-packages directory, so it winds up trying to import the Python 2 source code.  I was able to `import pystache` if I either (1) removed `''` from `sys.path` prior

[2012-04-25 15:35] cjerdonek commented on #112
Also @kbok, can you clarify whether the Pystache source in your site-packages directory looks okay?  In your comment, you say you copied over the `pystache` directory (which I assume is a subdirectory of the project directory), but you didn't change site-packages at all.

[2012-04-25 15:44] ghost commented on #112
Yes, the source looks fine (before and after the workaround). I had a look at the source file in `C:\Python32\Lib\site-packages\pystache-0.5.1_rc-py3.2.egg\pystache` and the erroneous line was actually different (`STRING_TYPES = (str, type("a".encode('utf-8')))`) so I suppose the build gets mangled and the module ends up with different versions for the source and the pyc files ?

Also, I think rel

[2012-04-25 18:36] cjerdonek commented on #112
No, here is what is happening so you can understand.  The source code on GitHub is written in Python 2, so you will get the above `SyntaxError` if you try to import it using Python 3.

As far as installing, etc, there are three locations of interest: (1) the original source code directory, (2) the build subdirectory of the source code directory, and (3) your system's site-packages directory.

The

[2012-04-25 18:38] cjerdonek commented on #112
Also, I verified on a Windows machine with Python 3.2 that the situation above is as I described.

[2012-04-26 06:05] cjerdonek commented on #109
[Tagged](https://github.com/defunkt/pystache/tree/v0.5.1) and [pushed](http://pypi.python.org/pypi/pystache/0.5.1) to PyPI.

[2012-04-26 06:05] #109 closed, assigned to nobody

[2012-04-26 07:48] cjerdonek commented on #112
I added a couple paragraphs to the end of the "Develop" section of the [README](https://github.com/defunkt/pystache/blob/72ec1c961467aeda5cebe5854d96e165ed2dd758/README.rst) (in a section called "Running Pystache from source with Python 3.") to address this issue.

[2012-04-26 07:48] #112 closed, assigned to nobody

[2012-04-27 10:49] gonvaled commented on #108
That is a good idea. For the input data this would probably work, but (and I am talking here without knowing the details of the pystache implementation) I guess this would not completely solve the issue, since the output data would still be in memory

[2012-04-27 11:18] gonvaled commented on #108
And it seems not even input mmap is supported:

[code]

<pre>
» python test_pystache_mmap.py
Traceback (most recent call last):
  File "test_pystache_mmap.py", line 11, in <module>
    print pystache.render(mymmap, d)
  File "/home/gonvaled/.virtualenvs/python2.7.2-wavilon1/lib/python2.7/site-packages/pystache/__init__.py", line 8, in render
    return Template(template, context).render()
  File "

[2012-04-27 15:07] cjerdonek commented on #108
Just to clarify, I didn't mean to suggest that `mmap` would work without making additional changes. :)  Work would need to be done there, too (but probably not as much).  And yes, you are right.  If support for `mmap` were added to the API, we would not want those methods to return the output as a string, etc.

[2012-04-29 08:55] richardhills commented on #110
That sounds ideal.

[2012-04-29 08:59] cjerdonek opened #113 "Section lambdas mistakenly pushed onto context stack"
Here is a test case:

[code]

The expected value is `u'bar'`.

I submitted to the Mustache spec a [pull request](https://github.com/mustache/spec/pull/47) that adds a test to cover this case.

[2012-04-29 09:10] #113 closed, assigned to nobody

[2012-04-29 19:15] cjerdonek opened #114 "List of lambdas not processed correctly for sections"
Here is a test case:

[code]

The correct value is `u'<~Earth~#Earth#>'`.  This test case was also submitted to the Mustache spec as part of this [pull request](https://github.com/mustache/spec/pull/47).

[2012-04-29 19:47] #114 closed, assigned to nobody

[2012-04-30 20:12] cjerdonek opened #115 "Match spec expectation for partials not found"
A missing partial should render as the empty string.  See this issue: https://github.com/mustache/spec/issues/20

[2012-04-30 20:22] cjerdonek commented on #110
Note for when implementing: Pystache should also raise an error when a partial is not found -- even after addressing issue #115.

[2012-05-03 03:02] cjerdonek commented on #99
See issue #100 for further comments.

[2012-05-03 03:02] #99 closed, assigned to nobody

[2012-05-03 03:10] cjerdonek opened #116 "Implement "object methods with an arity of one" from spec v1.1.2"
Version 1.1.2 of the Mustache spec has the following language which still needs to be implemented:

[code]

Also see [this issue](https://github.com/mustache/spec/issues/46) of the Mustache spec which asks for clarification on the meaning of this language.

[2012-05-03 13:39] #115 closed, assigned to nobody

[2012-05-04 03:45] cjerdonek commented on #110
@richardhills, I just addressed the second issue you mentioned re: exceptions raised from properties.  I'll address the other issue re: missing tags in a separate commit.

Note that my resolution of the first issue needs a little more work in order to distinguish missing attributes from properties that raise an `AttributeError` (as opposed to any other exception type), but what I've done should ta

[2012-05-04 11:38] richardhills commented on #110
@cjerdonek, thanks for this, I think this covers our most important use case. I have a feeling you can't distinguish between properties that raise AttributeError from missing attributes in python (even hasattr checks for that exception, so can not distinguish). Instead, I would treat these two cases (missing attributes and throwing AttributeError) as the same thing, but then have a "strict" mode o

[2012-05-04 12:29] cjerdonek commented on #110
I think it may be possible to distinguish those cases by walking and inspecting the stack, because the stack trace will have slightly different characteristics in the two cases.  For example--

[code]

The idea of inspecting the stack was mentioned by Michael Foord in the Python [issue thread](http://bugs.python.org/issue7559) I linked to in [my code comment](https://github.com/defunkt/pystache/co

[2012-05-04 14:04] cjerdonek commented on #110
I merged the changes for this issue into the development branch.

Let me know if you see anything with this that isn't right or that you think can be improved.  Thanks.

[2012-05-04 14:04] #110 closed, assigned to nobody

[2012-05-04 14:50] cjerdonek opened #117 "Push v0.5.2 in master to PyPI"
This can be done after a few days or so but should be done within a week.

[2012-05-04 22:22] cjerdonek opened #118 "Handle lambda section values returning non-ascii, non-unicode"
The code currently doesn't handle a lambda section value returning a non-ascii, non-unicode string.  Here is a test case:

[code]

[2012-05-04 22:46] #118 closed, assigned to nobody

[2012-05-05 19:38] cjerdonek commented on #108
Could you describe what your large files "look" like?  For example, are they deeply nested with sections, is it long strings of plain text in between a few scattered tags, or is it equally dense with both plain text and tags?  Also, are there section tags that contain huge strings, etc?

[2012-05-06 20:42] cjerdonek commented on #117
[Done](http://pypi.python.org/pypi/pystache).

[2012-05-06 20:42] #117 closed, assigned to nobody

[2012-05-07 05:33] cjerdonek opened #119 "Release v0.5.3 to PyPI"
See [HISTORY](https://github.com/defunkt/pystache/blob/development/HISTORY.md) for changes.

[2012-05-26 09:18] cjerdonek opened #122 "Add Renderer.render_name()"
The `Renderer` class currently lets one render a template given a template string, object instance, or path (via the `render()` and `render_path()` methods respectively), but it does not let one render a template by name directly (using the `search_dirs` attribute, etc).

We should add `Renderer.render_name()`.

[2012-05-30 07:02] jakearchibald commented on #122
+1

[2012-06-22 18:24] x86-64 opened #123 "Dotted name don't work with object's __getitem__"
If i define object with **getitem** i can not print variable from template with dotted name ({{obj.attr}}.
I've stopped on this hack which helped me, however i don't really know how to do this right.

<pre>
 43     if isinstance(context, dict):
 44         # Then we consider the argument a "hash" for the purposes of the spec.
 45         #
 46         # We do a membership test to avoid using excep

[2012-06-22 23:24] cjerdonek commented on #123
Hi @x86-64 and thanks for the report.  The beginning of [this page](https://github.com/mustache/spec/blob/master/specs/interpolation.yml) from the Mustache spec would be good to review for discussion purposes.

A couple questions:

Would you prefer that your object be interpreted as a hash or as an object for the purposes of the spec?  In particular, are all of your object's context attributes acc

[2012-06-23 10:08] x86-64 commented on #123
All attributes that i access from mustache template is processed by
`__getitem__`. Well, i could add those methods for each attribute, but
this is what i was trying to avoid by using getitem in first place.
Isn't getitem could be considered as special catch-all attribute?
Because obj["attr"] in python works, and i was expecting that
{{obj.attr}} would work too, despite on how it was implemented. M

[2012-06-23 10:47] cjerdonek commented on #123
I wasn't suggesting adding those methods for each attribute.  I was suggesting doing this, for example (using `__getattr__` instead of or in addition to  `__getitem__`):

[code]

Would this work for you?

[2012-06-23 11:16] x86-64 commented on #123
Oh, i've tested this, but it fails then it call any of other methods.
(In my case this is "user" class, where i have general functions, like
save(), load() and other attributes is user's parameters). So i need
either to add my parameters to list inside **getattr**, or list of
methods. Is this right, or there is another way?
Anyway i've noticed that this case fall into "return _NOT_FOUND", so i
thi

[2012-06-23 11:31] cjerdonek commented on #123
I'm not sure what you mean when you say "but it fails to call any of the other methods."  As the Python documentation linked to above says, `__getattr__` is "called [only] when an attribute lookup has not found the attribute in the usual places."  This means that `__getattr__` is called only as a _backup_ after first trying to call a method or attribute with that name.

Here is some sample code to

[2012-06-23 16:38] x86-64 commented on #123
Oh, it was stupid mistake, i had "class User:", and should be "class
User(object)". Sorry for bothering, we can close this. Thanks for help.

[2012-06-23 17:03] cjerdonek commented on #123
No problem!  Thanks for using Pystache, and glad it worked out in the end.

[2012-06-23 17:03] #123 closed, assigned to nobody

[2012-06-29 13:05] cjerdonek opened #125 "Get all tests passing with PyPy"
See, for example: http://travis-ci.org/#!/msabramo/pystache/jobs/1735477

[code]

[2012-06-29 13:11] cjerdonek commented on #125
And then add PyPy to `tox.ini` and `.travis.yml` and update the README with support, etc.

[2012-06-29 18:23] #125 closed, assigned to nobody

[2012-07-16 00:33] cjerdonek opened #126 "Make compliant with PEP 8"
We should also add to `setup.py` and/or the tests the ability to run the PEP 8 checks.

[2012-08-10 14:08] sontek opened #128 "i18n support?"
I'm using pystache + mustache.js to render same templates either client side or server side.  Do you have any information on doing translations for mustache?  I'd like to support multiple languages with my application.

Thanks

[2012-08-10 14:20] sontek commented on #128
https://github.com/dmfrancisco/pystache  seems to have added support as well?

[2012-08-10 17:47] cjerdonek commented on #128
Without knowing much about the options, if it's necessary to change Pystache in order to support i18n, I would be open to it.  The keys for me would be to do so in a way that (1) is consistent with the documented spec (e.g. allow it to be turned off and on if it breaks the spec), and (2) allows people to swap in other implementations if there isn't "one" accepted way to do it.  Are there any blog

[2012-08-14 10:19] ahri opened #129 "template_rel_directory doesn't filter through to {{>partial}} name search"
Specifying:

[code]

Still requires a partial to be specified as:

[code]

which seems like a bug?

[2012-08-14 15:40] sontek opened #130 "Allow None context value to render as empty string"
If I pass an object with a None value in pystache and call it {{ name }}, it returns "None"    if I have a value in mustache and call it, I get ''.   This is resulting in inconsistent rendering dependent on if my template is coming from client side or server side.

What is the best way to handle this?

[2012-08-14 15:41] sontek commented on #128
I was able to accomplish i18n by passing a translation function to the render:

[code]

[2012-08-14 17:30] sontek commented on #119
This should probably happen ;)   I would like #130 fixed before then though

[2012-08-14 17:38] cjerdonek commented on #119
Sorry. :) I'll make an effort to do the release by this weekend, or the weekend after that at the very latest (the latter more likely if the resolution for issue #130 isn't clear).

I'll also respond to issue #130 tomorrow or later today.

[2012-08-14 17:39] sontek commented on #130
The spec also seems to agree that it should return empty string, not None:
https://github.com/mustache/spec/blob/master/specs/interpolation.yml#L106

[2012-08-14 17:55] sontek commented on #130
I made a pull request that fixes this for me but not sure if it was the correct way to implement it ( #131 )

[2012-08-15 11:11] cjerdonek commented on #130
This is by design.  For example, the spec says [this](https://raw.github.com/mustache/spec/master/specs/interpolation.yml)--

"This tag's content names the data to replace the tag...  Data should be coerced into a string (and escaped, if appropriate) before interpolation."

And in Python--

[code]

There is even a test to check this behavior [here](https://github.com/defunkt/pystache/blob/893bd6ae

[2012-08-15 11:19] cjerdonek commented on #130
If you read the text, it says, "Failed context lookups should default to empty strings."  There is a difference between a key not being found (a failed lookup) versus a key having a value of `None`.  If you try a missing key, I think you'll find that it works by returning an empty string.  Indeed, it should because Pystache runs all of the spec tests (including the one you're quoting here) as part

[2012-08-15 11:35] cjerdonek commented on #129
Thanks for the report.   I'm not sure `template_rel_directory` should be used in that way.  Can you say more about what you're trying to do?  The `template_rel_directory` attribute was designed to be used for locating the template file corresponding to a "view" class, rather than for locating the template files of partials that a view class's template string references.  Would it work for you to a

[2012-08-15 11:47] ahri commented on #129
Yeah I wasn't sure it would work but had a go and was surprised that the paths worked in the template!

I began looking into search_dirs but wasn't sure whether I should be adding to that myself, or whether template_rel_directory should be added to search_dirs automatically.

I'm interested in how I should be doing this from your perspective: where should I add to search_dirs? Should I be specifyi

[2012-08-15 11:54] ahri commented on #129
Sorry, I didn't explain what I'm trying to do;

I have my templates in a directory (static/templates relative to my script) and I want to be able to tie a single mustache template to a class, and for that template to refer to other mustache templates in the same directory without further work.

The search_dir probably accomplishes this, but as I say; I don't understand whether I should use this (b

[2012-08-15 11:59] cjerdonek commented on #129
Thanks for asking.  For starters, I would recommend not subclassing your view classes from what is now called the `TemplateSpec` class, if you can at all avoid it.  In most cases, you shouldn't need to use the special attributes that class provides.  It is more for if you have a particular view class that is different from all the others and needs to be special-cased in some way.  Can you possibly

[2012-08-15 12:04] cjerdonek commented on #129
I would try adding "static/templates" to `search_dirs` and try making your template classes inherit from `object` instead of `TemplateSpec` (or at least not from `TemplateSpec` if you are inheriting from some other subclass for a different purpose).

[2012-08-15 12:04] ahri commented on #129
It sounds like I should definitely go down the Renderer route then. An example of what I'm doing is the [current README](https://github.com/ahri/flask-mustache/blob/0e7f70d2c054c7f2c7a3f430640419966c209c96/README) for my project.

[2012-08-15 12:25] cjerdonek commented on #129
Yes, the `Renderer` class will give you a lot more flexibility than the simple `render()` function.

I looked at your examples and did want to point out, though, that if you are accessing the template string as an attribute rather than as a separate file, you will need to inherit from `TemplateSpec`.  Otherwise, you probably won't need to.

[2012-08-15 13:12] ahri commented on #129
I came across this whilst adding my unit tests, so I'll continue to inherit from TemplateSpec for those examples (as it's easier, for now!) I've updated my code to allow passing of custom Renderers so this should resolve my issue.

Thanks a lot for your help and advice.

[2012-08-15 15:00] sontek commented on #130
It wouldn't make sense to set these values as empty strings because they are None/null, they haven't had a value set.   I just want it to be consistent so that I can use mustache.js or pystache and get the same template back.  There really is no point in having different implementations of the language if they aren't going to try to return the same results.

[2012-08-15 15:18] cjerdonek commented on #130
Are you using the "dictionary" or "object" form of context?

And yet you are setting the value to be None.  As I said above, there is a difference between a context key not being present and a context key being present with value None.  Why not remove the key if there is no value?  Otherwise, setting None values to the empty string seems like a small price for you to have rendering consistency.

T

[2012-08-15 15:21] cjerdonek commented on #129
You're welcome, @ahri.  Good luck, and let us know if you need any other help.

[2012-08-15 15:21] #129 closed, assigned to nobody

[2012-08-15 15:24] cjerdonek commented on #130
I will think about allowing this aspect of behavior to be customized, but it may take some time.

[2012-08-15 15:24] sontek commented on #130
Yeah, if it was easy to override that would be perfect.   The context i'm passing are lists of SQLAlchemy objects, so if the values in the database are null then the value set on the resulting property is None.    I can't really have the value not there.

[2012-08-15 15:36] cjerdonek commented on #130
In the meantime, can you do a preprocessing step that "sanitizes" the data and sets `None`'s to `''`?

[2012-08-19 18:18] sontek commented on #130
I created a new pull request, #132, makes it so you can override a context easily and do whatever you want with it.  It maintains complete backwards compatibility so nothing will break, it just allows me to make things match with mustache.js

[2012-08-22 01:44] sontek commented on #130
@cjerdonek  Is #132 good enough for you? It works perfectly for what I need and doesn't break the current usage

[2012-08-22 02:17] cjerdonek commented on #130
I want to sit down soon to think about the API change -- planning for this weekend.  I'm not crazy about adding another keyword argument to the Renderer constructor because that could easily get out of hand, and this is a somewhat specialized need.  Alternatives I would like to consider include: having a method that can be overridden on the Renderer class, exposing an undocumented or tentative API

[2012-09-05 15:53] sontek opened #133 "Support inheritance like hogan.js and mustache.java"
Hogan.js and Mustache.java have both implemented inheritance so that you can things like:
https://gist.github.com/1854699

Here are the mustache.java tests for it:

https://github.com/spullara/mustache.java/blob/master/compiler/src/test/java/com/github/mustachejava/ExtensionTest.java

[2012-09-12 12:56] ghost opened #134 "Accessing list elements"
I'm trying to use lists as input data:

[code]

using template:

[code]

and it seems doesn't work.
Can I use lists as input data without transforming it to dict?

[2012-09-13 10:32] cjerdonek commented on #134
No, you currently can't.  The tag key is always interpreted as the key to a hash (dict) or method name.  Maybe this could be added though in a sensible way.

[2012-09-17 21:51] bennoleslie opened #135 "pystache DELIMITERS defaults"
I'm currently using pystache to generate templated C code (rather than say HTML code), and have done the following:

pystache.defaults.MISSING_TAGS = 'strict'
pystache.defaults.TAG_ESCAPE = lambda u: u

I'm wondering if that is an intended way of doing things?

I tried to also do this:

pystache.defaults.DELIMITERS = ('[[', ']]')

However, that doesn't work as parser.py does "from pystache.default

[2012-09-17 22:05] cjerdonek commented on #135
Hi @bennoleslie, thanks a lot for the report.  The main reason I put the defaults in one place was for maintainability reasons (DRY and discoverability, etc).  Runtime configuration was secondary, so I didn't take the time to make sure it worked that way initially.  But it should (even if module monkey-patching is discouraged).

Do you want to put together a pull request?  Otherwise, I could do it

[2012-09-18 03:48] cjerdonek commented on #135
By the way, I recently started a project to use Mustache templates for source code projects (i.e. directories of template files with templatized file names, etc).  It's called [Molt](https://github.com/cjerdonek/molt).  I'd be curious to know if it helps your use case at all.

[2012-09-18 12:04] bennoleslie commented on #135
Thanks @cjerdonek I've just submitted a pull request, which includes code and tests. Not sure what your policy is, I've put them in a single commit, but you could split them easily if preferred.

Currently I've written tests for the 3 defaults I've been using. I wasn't 100% familiar with the way in which the others were used, so didn't test them. Hopefully the code I've put in test_defaults.py mak

[2012-10-17 06:21] cjerdonek commented on #41
Committed to development.

[2012-10-17 06:21] #41 closed, assigned to nobody

[2012-10-17 06:55] cjerdonek commented on #122
Committed in the development branch.

[2012-10-17 06:55] #122 closed, assigned to nobody

[2012-10-17 08:51] cjerdonek commented on #130
Retitled from "Differences between pystache and mustache.js" to "Allow None context value to render as empty string."

[2012-10-20 18:24] cjerdonek commented on #130
Thanks for your patience.  I committed a fix for this in the development branch.

I chose to address this in the Renderer class rather than in the Context class because how a context value renders is a rendering issue rather than something that the Context class should know about.

[2012-10-20 18:24] #130 closed, assigned to nobody

[2012-10-20 21:43] cjerdonek commented on #135
Committed to the development branch (after merging pull request #136). Thanks again, @bennoleslie!

[2012-10-20 21:43] #135 closed, assigned to nobody

[2012-10-20 21:47] cjerdonek commented on #119
This has obviously taken longer than I had hoped. :)

I believe the preparations are largely done now and the outstanding issues (for this version) addressed.  I will merge development to master soon to create a 0.5.3 release candidate.

[2012-10-20 23:35] cjerdonek opened #137 "Drop support for Python 2.4"
This is partly because [Tox](http://tox.testrun.org/latest/) dropped support for Python 2.4 in v1.4.

[2012-10-20 23:57] cjerdonek commented on #119
The 0.5.3 release candidate is now in branch master.  I'm going to let it sit for at least a week or two before pushing to PyPI.

[2012-10-21 04:15] sontek commented on #119
Awesome!  At least its getting there :)

[2012-11-04 09:39] cjerdonek commented on #119
This is now done.

[2012-11-04 09:39] #119 closed, assigned to nobody

[2012-11-05 01:00] cjerdonek opened #138 "Deal with pandoc center-aligning images"
Running pandoc on our Markdown files adds--

[code]

to images, whereas we want images to be left-aligned.  We should have a programmatic way to deal with this (i.e. instead of manually deleting the alignment directive).  Also see [this thread](https://groups.google.com/d/topic/pandoc-discuss/rxjyzxx9oF0/discussion).

[2012-11-14 04:56] cjerdonek commented on #138
@jgm fixed this issue very shortly after it was reported (see the thread linked to above), so this issue should be resolved now.

[2013-01-04 05:35] akkumar opened #141 "mustache template variables with dot fail to 'render'"
Eg:

<pre><code>

{'catalina_home': '/opt/software/tomcat7', 'catalina.home': '/opt/software/tomcat7'}

u'Hello '
</code></pre>

Not sure if  this is  a limitation / against the mustache template language grammar or
 an issue with pystache implementation.

[2013-01-04 06:33] cjerdonek commented on #141
It's not a limitation but a feature. :grinning:  The latest versions of Pystache support "dot notation" which you can read about [here](https://github.com/mustache/spec/blob/master/specs/interpolation.yml), for example.

[2013-01-04 06:33] #141 closed, assigned to nobody

[2013-01-04 09:31] akkumar commented on #141
So , I installed pystache 0.5.3 , using

<pre>
# pip install pystache
</pre>

on my Ubuntu box.  Seems to bring in 0.5.3 .

When you mean "latest versions of pystache support dot notation" , where can I get the ones that support it ( may be the github master ? ) . Any publicly available package for the same.

[2013-01-04 09:38] cjerdonek commented on #141
You can see in the HISTORY file that support for dot notation was added in version 0.5.2.  Note: "support for dot notation" means that dots have special meaning.  In other words, in version 0.5.2 onwards you are not allowed to have a plain tag/key name with a dot in it; a dot results in special behavior described in the link I referenced above.

[2013-01-04 10:10] akkumar commented on #141
Thanks, chris.

Dot notation is well-supported in 0.5.3 pystache as well.

It requires a different dictionary structure with the dot notation though.  FYI, for reference:

<pre><code>

{'catalina': {'home': '/opt/software/tomcat7'} }

u'Hello /opt/software/tomcat7'
</code></pre>

[2013-01-09 18:49] cunger opened #142 "Partials and trailing newlines"
Many editors cause the last character of a file to be a newline, which causes an unwanted line break after a partial. See [Issue #61 of mustache/spec](https://github.com/mustache/spec/issues/61). Since the editor behavior is usually hard to change, this trailing newline character should be chomped before rendering.

[2013-01-11 14:27] joeyespo commented on #133
+1

Here's the proposed spec for it from mustache: https://github.com/mustache/spec/issues/38

[2013-03-17 20:38] boukeversteegh commented on #119
How do I customize Renderer to output None as ""? Can't find the commit..

[2013-03-17 20:43] boukeversteegh commented on #119
Figured it out:

[code]

[2013-03-17 23:20] cjerdonek commented on #134
See also issue #143.

[2013-04-01 18:09] klm1 opened #145 "pystache on windows adds an extra cr to every line"
pystache on Windows seems to convert every CR (hex 0D) to two CRs. For example, every line ending in 0D0A after conversion will end in 0D0D0A.

Here's a test script:

rom pystache.loader import Loader
from pystache.renderer import Renderer

loader = Loader(extension='txt')
template = loader.load_name(r'test')
renderer = Renderer()
with open(r'test_out', 'w') as text_file:
    text_file.write(rende

[2013-04-01 21:12] #145 closed, assigned to nobody

[2013-04-01 21:14] klm1 commented on #145
Didn't realize pystache opened text files as "rb" -- writing files as "rb" as well solves this problem.

[2013-04-19 02:05] michaelmior opened #146 "Handlebars compatibility"
Apologies if this has been discussed before, but I didn't see it any past issues. I was wondering if support for helpers has been considered for greater compatibility with Handlebars templates.

I understand that implementing the Mustache spec precisely is the number one goal. However, since pystache already implements most of Handlebars, it would be great to have this as an option (disabled by de

[2013-06-04 22:57] georgevreilly opened #147 "pystache.render should take an optional delimiters parameter"
The public `pystache.render` function should take an optional `delimiters` parameter. Lower-level functions take `delimiters` as an optional parameter, but there's no easy way to pass custom delimiters down into them.

I know that, as a workaround, the template can be prefixed with Set Delimiter tags, such as `{{=<% %>=}}`, but this is tedious.

[2013-06-04 23:08] cjerdonek commented on #147
Another work-around is to set the [`DELIMITERS`](https://github.com/defunkt/pystache/blob/2a99f20f2fd5b5c56302033a8978caac2d046e23/pystache/defaults.py#L42) global.  Does that work for your use case?  But I agree it should be exposed.

[2013-06-04 23:32] georgevreilly commented on #147
I suppose that would work, but it's ugly. My use case is two-phase template evaluation, build-time and run-time.

[2013-06-04 23:58] cjerdonek commented on #147
Agreed.  That's why I called it another work-around. :grinning:

[2013-09-01 04:00] samwyse opened #149 "object methods aren't getting called when the object is a string"
The interpolation spec says,

[code]

I interpret this to mean that '{{person.upper}}' in the context {'person': 'Mom"'} should find the key 'person' in the context, use 'Mom' as the data and place it on the context stack, and then search that object (a string) for a method named 'upper', invoke that method, and place the returned value ('MOM') on the top of the context stack.

Note that '{{#perso

[2013-09-01 04:38] larsks opened #150 "Pystache not following spec for dictionaries?"
Based on the "Non-False Values" section of `mustache(5)`...

I figured that given this dictionary:

[code]

And this template:

[code]

And rendering it like this:

[code]

That it would expand `{{visited}}` to `True`...but it appears to be
treating `{{#session}}` as a _list_, and is iterating over the keys.
Am I misreading the _mustache_ documentation, or is _pystache_ not
conforming?

Thanks!

[2013-09-01 17:49] cjerdonek commented on #149
Pystache doesn't treat instances of built-in types (e.g. strings, integers, etc) as "objects."  You can see this in the code comment [here](https://github.com/defunkt/pystache/blob/development/pystache/context.py#L53).  This behavior was added as part of issue #81.  There are also test cases for it.  Basically, the issue is that calling methods on built-in types can result in accidentally "shadowi

[2013-09-01 17:59] cjerdonek commented on #150
What version of Pystache are you using?  I get the following when I run from the development branch:

[code]

[2013-09-01 18:02] cjerdonek commented on #150
PS - you should also check out this [Mustache spec](https://github.com/mustache/spec) because it has a more up-to-date and accurate description of how Pystache behaves.  My understanding is that `mustache(5)` is a lot older and doesn't describe all the features that Pystache supports, etc.

[2013-09-06 17:43] jvanasco opened #151 "feature request: Template Validator / Tests"
It would be great if pystache had a tool to properly validate a template.

I slapped this together , but it could be wrong.  I don't know the internals correctly, and tried to break templates a few ways.

[code]

It would just be great to check templates for the correct syntax , this way my applications' unit tests can always ensure that templates are valid ( without having to generate sample data

[2013-09-15 17:10] cjerdonek commented on #150
I'm closing this since I couldn't reproduce it and didn't receive any response from the original poster after a couple weeks.

[2013-09-15 17:10] #150 closed, assigned to nobody

[2013-09-15 17:14] cjerdonek commented on #149
I'm closing this for the reasons listed in my previous comment and because there wasn't any further discussion after waiting a couple weeks.

[2013-09-15 17:14] #149 closed, assigned to nobody

[2013-09-15 17:28] #138 closed, assigned to nobody

[2013-09-15 17:29] cjerdonek commented on #138
I confirmed that `:align: center` is no longer added when running `python setup.py prep` in commit eb3fc2df4ff564e684b1aa631b7d2de535bee834.

[2013-09-18 05:42] miracle2k opened #153 "Associate renderer with loader"
I need to manually use a loader object. It appears I need to use the following code to make partials work:

[code]

That is a lot of duplicaton. I feel like I should be able to say:

[code]

[2013-09-18 06:52] cjerdonek commented on #153
What version of Pystache are you using?  Also, how would your code change with what's in the development branch?  It doesn't seem like your sample code would work with what's there.

[2013-09-19 02:06] miracle2k commented on #153
I'm using 0.5.3, the most recent release. Why do you believe it wouldn't work with the dev branch? Looking over the code it would appear fine to me.

[2013-09-19 07:24] cjerdonek commented on #153
I misread and thought you wanted to set the `loader` attribute on a renderer.  Something like--

[code]

(That's what won't work in the development branch, and maybe also in other versions.)  To make things DRY, it seems like a better way to go might be as follows:

[code]

The existing code is almost there -- only that the `_make_loader` method on the `Renderer` class is "private" instead of "pub

[2013-09-19 13:12] miracle2k commented on #153
Well yes, that would have been my suggestion: Modify `Renderer._make_loader` to return `self.loader` if provided by the user, and only construct a renderer of it's own if there is none set.

Your approach would work as well, but I find it strange, API-wise. The Renderer component clearly has a dependency on the Loader, not the other way around, so why forcably channel the loader creation through t

[2013-09-19 13:17] miracle2k commented on #153
In other words, #154 is what I was thinking about.

[2013-09-19 16:23] cjerdonek commented on #153
Okay, but that's not something you mentioned in your original post.  I was responding to what you wrote, which was to reduce the duplication.  What is your use case, by the way?

[2013-09-21 02:11] miracle2k commented on #153
I need the loader to manually open templates without rendering them. My instinct was to create a Loader instance and work based on that.

Getting the Loader via renderer.make_loader() works too, it just seems a lot less natural to me.

[2013-09-25 20:55] cjerdonek commented on #153
Let me explain some reasons why I lean against letting the user set a loader instance.

Letting a loader be set makes the API harder to understand because it becomes less clear what the `search_dirs`, `file_encoding`, etc. attributes do.  If a loader is set, are those attributes ignored, or does the loader look at them?  Also, would setting one of them modify the loader?  If they are ignored, you

[2013-09-26 00:04] miracle2k commented on #153
If the Loader is to be viewed as an implementation detail as opposed to be public API, then it makes perfect sense. I just assumed that I was supposed to construct a Loader manually if I wanted full control, and that the loader that was built into the renderer was only intended as a shortcut.

I missed the load_template method. It's exactly what I need. Thanks!

[2013-09-26 02:12] cjerdonek commented on #153
Cool, glad that works for you!  And thanks for your understanding!

[2013-09-26 02:12] #153 closed, assigned to nobody

[2013-10-17 08:11] l4u opened #156 "the tag containing whitespaces should throw an error"
[code]

Currently, this (pystache 0.5.3) works without errors.

[2013-10-17 08:20] l4u commented on #156
In ruby's implementation, an error will occur

[code]

Mustache::Parser::SyntaxError: Unclosed tag

[2013-10-17 09:39] l4u commented on #156
Related to
https://github.com/mustache/spec/issues/67
https://github.com/mustache/spec/blob/master/specs/interpolation.yml

[2013-11-05 06:32] micahlmartin opened #157 "Cannot render template tag within lambda"
I have a case where I'm rendering a dictionary that also includes a lambda.

[code]

The problem here is that I can't actually extract the value of `{{money}}` because I don't have access to a rendering engine and the context. While trying to figure out a solution I came across this http://stackoverflow.com/a/8851957/17744. This essentially indicates that I should instead be writing something like

[2013-11-05 22:48] cjerdonek commented on #157
This is just a quick thought, but have you played around with using a view class as discussed in the README?  You might be able to store references to the objects you need more easily there (e.g. the renderer instance).  There's also [this code comment](https://github.com/defunkt/pystache/blob/v0.5.3/pystache/renderer.py#L146) about accessing the current context via the renderer, so that might als

[2013-11-05 23:01] micahlmartin commented on #157
I started with the view classes at first, but I felt like it was a little bit of unnecessary overhead. Also, In some cases I'm rendering mustache views within a django view using a custom template tag like [this](https://vilimpoc.org/blog/2012/12/08/custom-pystache-template-and-loader-classes-for-django/). This also allows me to create a custom django context processor that will attach global vari

[2013-11-05 23:03] micahlmartin commented on #157
For now I've just monkey patched the method to suite my needs but I think it's something that should be added.

[code]

[2013-12-18 09:31] crusaderky opened #158 "Renderer.context won't update when looping through an array"
My target: print the following lines:

[code]

**without** a final comma.

I tried this way:

[code]

The output:

[code]

The culprit is the invocation to render() inside rstrip. Notice how, during the second call, the 3d element of the ContextStack is exactly identical to the previous call, instead of changing to {'gangsters': [ {'name': 'Tim'}, {'name': 'Tom'} , {'name': 'Todd'}]}.

Is this a b

[2013-12-18 09:41] crusaderky commented on #158
Rewriting it as dicts won't work either:

[code]

[2013-12-18 20:45] cjerdonek commented on #158
Yes, it looks like there may be an issue.  I will try to track this down.

[2013-12-18 21:13] cjerdonek commented on #158
It looks like the issue is that calling `self.renderer.render()` inside the lambda has the side effect of overwriting the renderer's original context property with a new context stack.  Later calls to `self.renderer.context` then no longer reference the original context which has the right gang.

This is related to this [TODO](https://github.com/defunkt/pystache/blob/856925f3ca4de6ca5a709aa8f3cd10

[2013-12-19 00:45] cjerdonek commented on #157
I agree that Pystache should be enhanced to support this use case more easily.  Issue #158 is from someone trying to do something similar.  I'm not sure about the right API yet though.  Any thoughts on a cleaner approach?

[2013-12-19 10:56] crusaderky commented on #158
Thanks, this works fine:

[code]

[2014-03-23 15:16] Gohan opened #159 "why pystache won't support the yaml format with cli tools?"
pystache can render yaml, maybe try to parse the cli argument by both and json will be better, need a patch?

[2014-03-28 20:44] rluders opened #160 "Template Helpers"
Hi,

It's most a question and maybe a request.
It's possible to create a helper with parameters? Some like this sample:

[code]

[code]

The expected result is: Hello, Ricardo!

[2014-05-02 13:45] BigBlueHat commented on #160
@rluders checkout the lambdas example:
https://github.com/defunkt/pystache/blob/master/pystache/tests/examples/lambdas.mustache
https://github.com/defunkt/pystache/blob/master/pystache/tests/examples/lambdas.py

Docs here: https://mustache.github.io/mustache.5.html

Your example would look like:

[code]

The python would be the same, afaik.

Hope that helps!

[2014-05-02 16:45] rluders commented on #160
So, that's the example that I saw, but they only accept one parameter. They assume that everything between the template maker is a single parameter, when I need to pass multiple parameters.

[2014-05-02 17:06] kevincarrogan commented on #160
Not particularly elegant but I've always just done the parameter unpacking in the lambda itself e.g.

[code]

[2014-05-02 17:17] BigBlueHat commented on #160
Yeah... Would be nice but I don't think it's been done in any of the mustache implementations that I've seen...nor in the spec. Probably that's due to putting "too much" data in the template.

Could you make lambdas or prefilled data to serve this purpose?

[2014-05-05 17:48] BigBlueHat commented on #160
@kevincarrogan's example gets what you need. I think. If you wanted `key=value` you could certainly parse that instead.

Not "idea" perhaps, but any change of this sort would have to happen upstream in the [spec](https://github.com/mustache/spec) or via a pragma (first...then spec) to really get traction.

The best thing about Mustache is that it's (relatively) consistently updated across language

[2014-05-05 18:07] rluders commented on #160
So, that's how I'm doing today. I pass the values like this:

[code]

But I don't think that's looks elegant. Look, I think the follow syntax is so much elegant and great to read:

[code]

And maybe this discussion don't fit here, 'cause this is more about mustache specs then about pystache implementation or something like that.

[2014-05-06 15:01] BigBlueHat commented on #160
:+1: for proposing this on the [Mustache spec repo](http://github.com/mustache/spec)!

It would (in some ways) bring Mustache close to Web Component style stuff as seen in Ember.js:
http://emberjs.com/guides/components/defining-a-component/

Which look like this:

[code]

http://emberjs.com/guides/components/passing-properties-to-a-component/

Look familiar? :smile:

Ping me on the issue you file,

[2014-05-06 15:38] carlmw commented on #160
Ember just use handlebars.js, which is itself a superset of mustache. There are ports of handlebars to python ([pybars](https://launchpad.net/pybars) for example) that should work with your existing templates.

The fact that mustache forces you to deal with these sorts of complicated transformations before hitting the template layer is a massive plus for me. I'd argue that you would be better to w

[2014-05-06 15:45] BigBlueHat commented on #160
Good call @carlmw. You're likely right. They feel "logicless" (as the logic happens elsewhere---sort of a partial + params), but...you may be right.

Likely it's best to move the conversation to the spec repo and get the wider implementers involved. Though...this may not be the first time this was asked. :-P Who knows. :)

[2014-05-06 15:55] rluders commented on #160
@carlmw nice! I read about pybars, but the only problem is the fact that the 'handlebar' implementation for 'helpers' are not supported on mustache specs. So if I try to use my mustache templates with any other parser I'll be in a bad situation.

I don't think as multiple parameters as a logic stuff, it's just a 'helper' to simplify some things that sometimes we have to do. I keep try to make all

[2014-05-09 15:41] tritium21 opened #162 "test_find__with_directory fails on windows"
The failure in question is as follows:

[code]

Looking at the code it looks like you hard code a / into the expected path.  It will never pass on Windows.

[2014-05-09 19:38] kevincarrogan commented on #162
Fixed this on master but still need to get this up on PyPI so re-opening until that is done.

[2014-05-09 19:51] cjerdonek commented on #162
@kevincarrogan also make sure you merge changes in master to the develop branch, where development for 0.6 is happening IIRC.

[2014-05-09 20:04] kevincarrogan commented on #162
Done. I don't have access to push to PyPI those latest changes so either someone else could do that for me or could I get access @cjerdonek? kevindmorgan is my PyPI username.

[2014-05-09 23:29] cjerdonek commented on #162
Hi @kevincarrogan, I can give you access.  Just give me a day or two ... thanks.

[2014-05-09 23:37] cjerdonek commented on #162
By the way @kevincarrogan, be sure to study the instructions for maintainers in the [`setup.py`](https://github.com/defunkt/pystache/blob/master/setup.py#L7) docstring.  In particular, I noticed you also need to update the `HISTORY.md` file.

[2014-05-11 07:27] cjerdonek commented on #162
@kevincarrogan I gave you Maintainer access on PyPI.

[2014-05-12 12:25] #162 closed, assigned to nobody

[2014-06-23 05:24] hwkns opened #163 "Python 3 classifiers"
Does pystache officially support Python 3?

If so, it would be nice to designate that on PyPI using classifiers in setup.py (see https://pypi.python.org/pypi?%3Aaction=list_classifiers)

If not, what does the path forward look like?

[2014-06-23 05:29] cjerdonek commented on #163
Yes, it does.  Did you [look](https://github.com/defunkt/pystache/blob/master/setup.py#L138)?  It's also mentioned in the README.

[2014-06-23 06:31] hwkns commented on #163
Well now I feel like an idiot.  I did look, but it's quite a large file and I must have been looking in the wrong place.

I did see the README documentation, and that is why I asked "officially" -- I know a lot of libs that have been tinkering with python 3 for a while but do not have fully passing test suites yet or for whatever other reason they have intentionally left python 3 classifiers out o

[2014-06-23 07:12] cjerdonek commented on #163
Hmm, I'm not sure.  They show for the [previous release 0.5.3](https://pypi.python.org/pypi/pystache/0.5.3), which I uploaded.  I didn't upload the last release, though, so I don't know if something different was done that time.  Instructions for pushing to PyPI are [here](https://github.com/defunkt/pystache/blob/master/setup.py#L45).

I would file a separate issue for that: "Trove Classifiers not

[2014-06-23 14:50] hwkns opened #164 "Trove Classifiers not showing up on PyPI"
The classifiers are present in `setup.py`:
https://github.com/defunkt/pystache/blob/master/setup.py#L138

They show up in the previous release:
https://pypi.python.org/pypi/pystache/0.5.3

But not the current release:
https://pypi.python.org/pypi/pystache/0.5.4

[2014-06-23 14:51] hwkns commented on #163
Done: https://github.com/defunkt/pystache/issues/164.  Sorry I wasn't more thorough the first time around.

[2014-06-23 14:51] #163 closed, assigned to nobody

[2014-08-11 01:36] SamJoan commented on #123
Crazy, defining the models as `class Model(object)` instead of `class Model()` allowed me to access the attributes from pystache.

[2014-08-25 21:09] tony commented on #160
@carlmw : I agree with your approach for staying to pure mustache.

However, (adding you in @rluders )  pybars has an issue, it is LGPL.

I would be ok if someone branched / forked pystache to started adding handlebars and handlebars helpers support.  If that were to happen though, I'd like to see a mode the strictly enforces the mustache spec, since that's far more simpler and ubiquitous than hbs

[2014-08-26 20:55] bobthecow commented on #156
According to the spec, that's a valid tag name. The only things that a tag name can't contain are `.` and the closing delimiter (and they can't start with any of the tag sigils — `&`, `=`, `>`, etc — unless they're inside a tag that already has a sigil, so I'd avoid starting with them regardless).

I'd consider this a bug in the Ruby implementation :)

[2014-08-27 03:11] l4u commented on #156
An Objective-C implementation (https://github.com/groue/GRMustache) and a ruby implementation (https://github.com/mustache/mustache) do not allow spaces.
While this python implementation, or possibly your php implementation allow spaces.
I hope that someone could clarify the specs.

[2014-08-27 04:10] bobthecow commented on #156
If you have a python dictionary or a PHP associative array with spaces in the keys, it's perfectly valid to use tags with spaces to get at them.

[2014-09-15 00:34] dagostinelli opened #167 "Rendering complex types"
Pystache might be having problems rendering data from a complex type.  It seems to be fine with dictionaries, however.  That said, it doesn't seem to traverse dictionaries that contain complex objects.

Please refer to this:
http://stackoverflow.com/questions/25827884/mustache-pystache-rendering-complex-objects

This breaks:

[code]

It yields:

[code]

Expected output is:

[code]

If you change t

[2014-09-15 13:58] trvrm commented on #167
The problem is in context.py line 55, I think.

[code]

According to the comment there , "Instances of user-defined classes on the other hand, for example,
        # are considered objects by the test above."

But this is clearly false:

[code]

yields
    **builtin**

However, sabercups example _does_ work if we replace

[code]

with

[code]

[2014-09-15 16:20] cjerdonek commented on #167
Just to clarify, if you change this line--

[code]

to--

[code]

Does it still not behave as desired?  The issue here is old vs new-style classes.  IIRC, I believe the code was written with new-style classes in mind.

[2014-09-15 16:29] trvrm commented on #167
Yes, it works fine if we use

[code]

So this issue should be labelled "pystache doesn't traverse old-style classes".   Which may be acceptable - I don't fully understand the difference between new and old style classes.

[2014-09-15 16:39] cjerdonek commented on #167
Here's an SO post on the subject (one of many I'm sure):

http://stackoverflow.com/questions/54867/old-style-and-new-style-classes-in-python

Old-style classes were the way classes were prior to Python 2.2.  I'm not sure it's worth supporting old-style because it's a legacy style.  For example, in Python 3 all classes are new-style.

[2014-09-15 17:12] dagostinelli commented on #167
What about backwards compatibility with Python 2?  There's still a lot of that around.

In any event, perhaps a comment then in pystache.render() to remind everyone to use classes derived from object.

[2014-09-15 17:33] cjerdonek commented on #167
The oldest version that Pystache supports is Python 2.4, and new-style classes were around back then.  I think a code comment and/or note in a docstring comment would be fine.

[2014-09-18 19:02] falcoa commented on #4
I have the same problem and I do not have any idea how to work around.
Any suggestion????

[2014-09-18 19:08] eddpascoal opened #168 "pystache.render() with special characters"
i'm getting a very annoying problem with pystache using special characters.. :(

How can i render the follow example:
import pystache
new_render = pystache.Renderer()
example = new_render.render("person:{{name}}", {"name":"João"})

Anyone have any idea how to lead with special characters using pystache? when i try to run this 'example' it occurs me a UnicodeDecodeError:

UnicodeDecodeError: 'ascii

[2014-09-18 19:09] cjerdonek commented on #4
Are you using the newest version?  There is a section on Unicode in the README: https://github.com/defunkt/pystache#unicode

[2014-09-18 19:10] cjerdonek commented on #168
Can you copy the entire Python file to a gist so we can see it?

[2014-09-18 19:12] cjerdonek commented on #168
Also, are you using Python 2 or 3?

[2014-09-19 08:33] eddpascoal commented on #168
Hi cjerdonek yes im  using Python 2.7 in windows with netbeans IDE 7.4

python example is pretty much what i'm showing in example as you will find in https://gist.github.com/MrZogs/6a31e9daf110ea84a414

[2014-09-19 08:58] falcoa commented on #4
I'm using the pystache version 0.5.4, and python version 2.7

[2014-09-19 09:22] cjerdonek commented on #168
I would recommend reading up on Unicode and Python, etc.  This is partly an issue with familiarizing yourself with how Python handles such strings.

Try this in your code (also note the declaration for Python of a source code encoding):

[code]

This worked for me.

Also, even better would be to use Unicode strings as your input instead of byte strings:

[code]

This also worked for me.

[2014-09-19 09:24] cjerdonek commented on #4
See this thread for ideas: https://github.com/defunkt/pystache/issues/168

Try what you see there and reading more, and see if you can figure it out based on that.

[2014-09-19 09:41] eddpascoal commented on #168
Right, it works! I read a few things about unicode. I try to run that in Netbeans IDE and it occurs me:
"UnicodeEncodeError: 'ascii' codec can't encode character u'\xe3' in position 5: ordinal not in range(128)"
but when i run it on the cmd.exe with python it works fine. I think it is an IDE misconfiguration issue.

Thanks a lot for your help.

[2014-09-19 09:46] cjerdonek commented on #168
Okay, cool.  Glad to be of help.

[2014-09-19 09:46] #168 closed, assigned to nobody

[2014-09-19 10:15] eddpascoal commented on #168
Just to help others with the same problem about using a Netbeans IDE for python. I found a Netbeans bug comment about python encoding that may be help. See in: https://netbeans.org/bugzilla/show_bug.cgi?id=171688 . For this reason i may change my IDE to work with.

[2014-09-30 08:05] cjerdonek commented on #164
Okay, I reregistered the package metadata for the release by reuploading the `PKG-INFO` file through the PyPI web interface.  I think it should be fixed now.  Please reopen this issue if you notice something else amiss.   Thanks for the report!

[2014-09-30 08:05] #164 closed, assigned to nobody

[2014-10-08 13:28] #146 closed, assigned to nobody

[2014-11-28 10:26] wtld opened #171 "callable attributes vs methods"
[code]

Should it works?

[2014-12-02 17:12] jessebraham commented on #126
This could potentially be accomplished with relative ease using the [setuptools-pep8](https://github.com/CraigJPerry/setuptools-pep8) module.  Although this module does not appear to be actively developed, its maturity and rate of download are enough assurance for me that it's reliable enough.

The following modifications would need to be made:

[code]

[code]

The pep8 check would be run by invok

[2015-01-15 15:01] wtld commented on #171
never mind :)

[2015-01-15 15:01] #171 closed, assigned to nobody

[2015-05-21 21:20] martin-langhoff opened #173 "Add a get_keys() method to ParsedTemplate class"
For some use cases, the application using templates needs to know which keys the template is using.

For example:
- where the "natural" key names are long/unwieldy, and the user can input an easier key ("name") and then provide a mapping in a complementary UI (matching 'name' to 'foo.bar.baz.TheFrobName', picked from a dropdown).
- where resolving a key is expensive, and the scope carries many key

[2015-06-10 22:35] anickle opened #174 "Special characters not rendering."
I have a mustache template that I render in a Django project using pystache's Renderer. Some of the mustache strings contain html entities, but the renderer replaces the `&` character with `&amp;`, which breaks the html entities. How do you get around this?

[2015-06-10 22:42] cjerdonek commented on #174
HTML escaping occurs by default.  You can get around this by using triple delimiters for literal rendering, e.g. `{{{name}}}`.  See the man page referenced in the README for more details.

[2015-06-10 22:44] anickle commented on #174
Thanks a million; that works.

[2015-06-10 22:45] #174 closed, assigned to nobody

[2015-07-04 20:10] polybuildr opened #175 "Escape double braces"
I'd prefer to use the double braces format for my variables, however, I'd like pystache to ignore certain cases, such as in this legitimate javscript snippet:

[code]

What should I be doing here? True, I can just add a space between the `{{`, but surely Pystache supports this in some way?

[2015-08-21 08:07] ghost commented on #108
1++
I would love to see the streaming, too. I create large output files similar to sql format with multiple entities. Basically the rendering processes one list with 500k entries. Currently it fits all in memory but the rendering takes ~5 Minutes. I could split the file up to multiple files but this makes the handling much more complex.

[2015-09-15 13:25] earthboundkid opened #179 "Add support for use as a Django templating engine"
Django 1.8 has added the ability to use custom templating backends. (See https://django.readthedocs.org/en/latest/topics/templates.html#custom-backends  for more info.) I wrote a quick [adaptor to make pystache work as a Django templating engine](https://gist.github.com/carlmjohnson/63dc05b2f23e75dbb5a9).

Would something like this be a good addition to pystache? If it's not a good fit to put in t

[2015-12-23 09:37] marvin2k commented on #159
Yaml input would be a nice option as it is more human-readable. But there might also be people objecting because yaml tends to be slower. And both points will cause different effects in different environments ,-)

The [ruby-mustache](https://github.com/mustache/mustache/blob/master/bin/mustache#L20) cli accepts yaml input. PR #177 adds a yaml option to pystache.

[2016-01-23 20:20] FRidh opened #181 "SyntaxError with Python 3.x"
Tested with python 3.4 and 3.5

[code]

[2016-01-27 21:52] bdesham opened #182 "Trying to use an iterator as a section fails after the first time"
Consider the following simple use of Pystache under Python 3:

[code]

The expected output is, modulo whitespace,

[code]

But the actual output is just

[code]

The problem is that `context['numbers']` is an iterator, not an ordinary list. Once we’ve iterated through it once, its items are “used up” and so it acts like an empty list on subsequent iterations. I’d argue that this is a bug—rendering

[2016-01-27 22:53] bdesham commented on #175
According to [this Stack Overflow question](http://stackoverflow.com/q/11042926/371228), there’s no built-in way to escape an instance of `{{`. If you can’t work around it—for example, by adding a space between the braces in your example—you can change the delimiters temporarily or you can add a “braces” value to your context that will output `{{` when you input `{{braces}}`.

[2016-02-12 23:08] RealSalmon opened #183 "pystache command always treats template argument as string"
The command line version of pystache always treats the template argument as a string. Based on the documentation, it should recognize a file if one exists, which is how the context argument currently works.

[code]

https://github.com/defunkt/pystache/blob/17a5dfdcd56eb76af731d141de395a7632a905b8/pystache/commands/render.py#L72

[2016-04-01 20:57] 29antonioac opened #184 "Is possible to keep unused variables?"
Hi! I'm using pystache from yesterday to create LaTeX tables with some results. It works very well but I have a doubt. Is there a posibility that the renderer keep the unused variables in the output instead of make it empty?

For example:

[code]

[code]

Them produce this output

[code]

It could be produce this output instead? In this case, how could I do that?

[code]

Thank you!

[2016-04-02 06:19] iblancasa commented on #184
It is easy!
You only have to insert

[code]

[2016-04-14 10:01] jstasiak commented on #181
I can't reproduce this, I have pystache 0.5.4 installed on Python 3.5.1 and it works.

[2016-05-18 10:46] martinpengellyphillips opened #185 "Generalise isinstance dict check"
I have a 'dict' like class that actually implements the Python [`collections.MutableMapping`](https://docs.python.org/2/library/collections.html#collections.MutableMapping) interface. However, pystache will not render templates correctly with this object as it is not considered a `dict` by the check in `_get_value` (https://github.com/defunkt/pystache/blob/master/pystache/context.py#L46).

At pres

[2016-05-24 21:53] martinpengellyphillips commented on #185
Haha - so it seems I already have an open PR #144 to fix this issue. Any chance on getting it merged?

[2016-07-11 12:24] hugoduncan opened #186 "Include wheels on the PyPI release"
Please consider making pystache installable as a wheel.

[2016-07-18 10:10] Lucas-C opened #187 "Stale documentation in context.py: inexistant "default" parameter"
https://github.com/defunkt/pystache/blob/master/pystache/context.py#L215

The `default` parameter does not exist anymore.

[2016-07-18 11:40] Lucas-C opened #188 "EAFP in pystache.context:_get_value to support defaultdicts"
Hi,

Following the "it's Easier to Ask Forgiveness than Permission" principle, is it possible to modify 2 lines in
[pystache.context:_get_value](https://github.com/defunkt/pystache/blob/master/pystache/context.py#L51) ?

[code]

This would make it possible to pass a `collections.defaultdict` to `pystache.render`, which does not work currently:

[code]

[2016-07-18 11:41] Lucas-C commented on #188
Currently I use this ugly workaround to perform what I want:

[code]

[2016-07-28 07:11] ch3sn3k commented on #181
I have the same issue. I am using Python '3.3.5 (default, Jun 15 2016, 19:45:40) [MSC v.1800 32 bit (Intel)]' installed in LibreOffice installation 5.1.4.2 (32bit) on Windows 7 (64bit).
I just installed pip 6.1.1. and install pystache 0.5.4.
After executionf the `import pystache` a get the same error.

[2016-10-01 00:29] dhylbert commented on #183
It seems like unless the template input ends in `.mustache` it won't try to consider it as a filename.

[2016-10-01 14:07] RealSalmon commented on #183
Actually it seems like it work as advertised for me now (pystache==0.5.4). . . even with my own test case posted above. I'm not sure why I was seeing this before . . .

Edit . . . nevermind. You are correct. I had a .mustache template hanging around which is why I thought my original test case was working.

`pystache template context` will automatically look for 'template.mustache' and use that if

[2016-11-07 17:22] Integralist opened #190 "How to render nested array of data into the same partial multiple times?"
Hi

Here is an example of my data's structure:

    {
      "results": [
        {
          "user": "foo",
          "flags": [
            "a",
            "b",
            "c"
          ]
        },
        { ... }
      ]
    }

Now in my template I try to do this:

    {{#results}}
	    {{> stuff}}
    {{/results}}

Where `stuff` is a partial, and that partial looks like this:

    user: {{ u

[2016-11-08 13:26] Integralist commented on #190
So I've managed to resolve this issue myself with a change in code design and nesting 'Presenter' classes (but would be interesting to see how others are doing this)...

[code]

The `Teaser` then works effectively the same as this top level `Feed` presenter, the difference is it's given a different 'context' object (i.e. `self.post` value) to use as its data source:

[code]

Our code starts at the

[2016-11-08 13:26] #190 closed, assigned to nobody

[2017-07-20 15:43] dikderoy commented on #157
Why not to provide an API similar to one described in official mustache docs ?

[code]

i.e. this should be just

[code]

and API should declare requirement for lambda/function of 2 arguments

[2017-08-10 13:31] obfuscoder opened #192 "Is this project dead?"
There have been no commits in the last 3 years. Issues haven't been updated in a while. Pull requests haven't been merged or discussed despite them building successfully. Mailing list is silent.

I'm very much interested in the YAML input support (PR#177).

[2017-12-11 23:02] stuaxo commented on #192
Maybe am interim maintainer  could be a solution http://bluesock.org/~willkg/blog/dev/html5lib_1_0.html

[2017-12-12 11:12] stuaxo opened #195 "Possible to find all imports and extends ?"
I'm trying to work find out which templates extend or include each other on a project I'm working on, is there a way to do this with pystache ?

[2017-12-18 16:23] JaviBecerra commented on #181
Found the same issue with Python 3.6.3.
Apparently pip did not update pystache code from Python 2 to Python 3 during installation (the SyntaxError initially reported stems from the invalid ur string specifier in Python 3).
Solved running manually 2to3 on the pystache installation folder as per the installation instructions:

`2to3 --write --nobackups --no-diffs site-packages\pystache`

[2018-03-19 10:37] hugovk commented on #192
Some are now using chevron:

https://github.com/noahmorrison/chevron

[2018-05-31 14:19] vankasaisumanth opened #196 "Accessing Array item by index in template"
If there is an array {array: ["image1", "image2"]}, I am not able to access the array by its index.

Eg:-  `<span src="{{array.0}}"></span>`

The same syntax works in mustache.js
Mustache Js Reference

[2018-06-06 00:39] saaaaaaaaaahil opened #197 "How to use for loop through a list in mustache?"

[2018-08-09 16:37] #197 closed, assigned to nobody

[2019-03-05 00:45] bachirelkhoury opened #198 "Render template from database causing TemplateNotFoundError"
I am rendering a template loaded from a database using Python3.7 on Ubuntu 18.04.

Getting this error:
`pystache.common.TemplateNotFoundError: File 'ict.mustache' not found in dirs: ['.']`

[code]

I'm not sure why is it even looking for a mustache file, I'm not using any.

Also note that this same app is working correctly in similar dev environment on Mac.
What's that **ict.mustache** file?

[2019-03-05 02:24] bachirelkhoury commented on #198
Turns out it's to do with jsonb in the postgresql database. It is allowing to store a plain string, instead of a valid json. Dirty data (plain strings) were working, but on server we have valid jsonb which wich was causing the issue. All sorted by:

[code]

[2019-03-05 02:24] #198 closed, assigned to nobody

[2019-04-13 16:52] shaneberry opened #199 "Missing tags - instead of replacing with empty string, leave them untouched to be rendered later"
From the docs
"missing_tags: a string specifying how to handle missing tags.
            If 'strict', an error is raised on a missing tag.  If 'ignore',
            the value of the tag is the empty string."

In the case of 'ignore', in my opinion, it's not really ignoring the tag, because it is replacing it with an empty string.  I want it to really ignore it and not replace it with anything (lea

[2019-05-01 20:24] daveloyall commented on #183
Three years after this was originally reported, I had to dig through source code and issues to find out that it expects filenames ending with the magic string `.mustache`.

I recommend adding `--context-file`, `--context-string`, `--template-file`, and `--template-string`.

This leaves alone the behavior of the [overloaded](https://en.wikipedia.org/wiki/Function_overloading) positional arguments,

[2019-05-14 03:18] HoseynHeydari opened #200 "ImportError: No module named pystache"
I can't import pystache on my mac.
I run `pystache-test` and the result was `Ran 253 tests in 0.147s OK`.
But when I try
`>>> import pystache`
result is
[code]
 What can I do or check?

[2019-05-14 03:35] HoseynHeydari commented on #200
[Here](https://stackoverflow.com/a/34465431/2023530) was my problem solution.
I should "Find where pip installs your package and add the path" as [user2589273](https://stackoverflow.com/users/2589273/user2589273) said.

[2019-05-14 03:35] #200 closed, assigned to nobody

[2019-05-21 11:11] PixelPartner opened #201 "The README link to Distribute is outdated"
[Line 52 in README](https://github.com/defunkt/pystache/blame/master/README.md#L52) points to an outdated link.
I found this [Distribute](https://pypi.org/project/distribute/) but I am not sure that is helpful, as it is described as wrapper for `setup-tools`.

[2019-06-21 09:14] patarapolw opened #203 "How to get required/optional fields?"
For example `u"Hey {{#who}}{{is}}!{{/who}}"`

Should return

[code]

[2020-02-11 21:32] tkoft commented on #181
https://docs.python.org/3/reference/lexical_analysis.html

Isn't this a direct compatibility issue?  Also the built in `unicode` function is defunct too.

[2020-03-06 11:28] pavanmehta91 commented on #147
How amazing is that. I've the same requirement @georgevreilly  and that too after 7 years.
I suppose this one is not solved then.

[2020-03-10 19:22] jgstew commented on #181
I'm getting this same issue in Python 3.7.6

[2020-03-25 02:17] aafaq146 commented on #123
Traceback (most recent call last):
  File "app.py", line 9, in <module>
    api = TwitterClient('Afridi')
  File "C:\Users\Aafaq Ahmad\Aafaq Sahib\twitter.py", line 16, in __init__
    consumer_key = os.environ['JQM5TMwSPV6fKHmfbSBNKgE2O']
  File "C:\Users\Aafaq Ahmad\lib\os.py", line 675, in __getitem__
    raise KeyError(key) from None
KeyError: 'JQM5TMwSPV6fKHmfbSBNKgE2O'

plz hep me toresolve

[2020-04-06 20:21] nicktalb commented on #181
Same issue with Python 3.6.10, pip (both 18.1 and latest 20.0.2) and pystache 0.5.4. Didn't have the issue with 3.6.1.

[2020-04-09 08:47] nicktalb commented on #181
This seems to be a problem with 2to3. When I run "python -m lib2to3" with Python 3.6.1 on the pystache site-packages directory I get a list of changes that would be made. When I run with Python 3.6.10 I simply get:
`RefactoringTool: No files need to be modified.`

[2020-04-14 10:59] nicktalb commented on #181
Problem went away when I removed this post-build step from our Python build:
[code]
I've not investigated why this caused the issue.

[2020-04-30 12:42] wphakawan commented on #203
For example u"Hey {{#who}}{{is}}!{{/who}}"

Should return

{
    "required": [],
    "optional": ["who", "is", "who.is"]
}
**How can do for next step?

[2020-04-30 12:50] wphakawan commented on #201
Hi
@ @# How I can strat ?
##Sorry I new from this positions.

[2020-06-11 08:42] Freakwill opened #207 "just want '&' but got '&amp;'"
It is a problem about escape.
when I executed `pystache.render(' hello {{m}}', {'m': ' & '})` to get `hello &`, I got '  hello  &amp; ' How do I fix it?

[2020-06-11 08:59] #207 closed, assigned to nobody

[2020-10-20 14:58] berndhahnebach opened #208 "ur"" is not valid in Python 3"
`NON_BLANK_RE = re.compile(ur'^(.)', re.M)`

https://github.com/defunkt/pystache/blob/17a5dfdcd56eb76af731d141de395a7632a905b8/pystache/parser.py#L15

see

https://stackoverflow.com/questions/27482273/invalid-syntax-using-regular-expression-in-python-3-4

[2020-11-02 18:20] telotortium opened #209 "`unicode` is not a valid type name in Python 3"
See for example: https://github.com/defunkt/pystache/blob/ebdc702f73b1df630a720a5b97d3d882b5a6c8e7/pystache/common.py#L18

[2020-11-03 06:11] kerrickstaley commented on #208
@berndhahnebach you need to run the `2to3` code on the pystache code when installing it in a Python 3 environment. This is done automatically if you install pystache the normal way, using `pip`. Also, this issue is a duplicate of https://github.com/defunkt/pystache/issues/181; there is more context there.

I'd recommend closing this issue.

[2020-11-03 07:19] kerrickstaley commented on #209
As we discussed in https://github.com/kerrickstaley/Chinese-Prestudy/issues/19, the "root cause" is that you're supposed to run `2to3` on the pystache code before installing it in a Python 3 environment. So I'd suggest closing this issue.

[2020-11-03 09:28] berndhahnebach commented on #208
thanks for the information.

[2020-11-03 09:28] #208 closed, assigned to nobody

[2020-11-03 16:08] #209 closed, assigned to nobody

[2020-12-20 10:57] anar2706 opened #211 "In an example like this pystache not rendering correctly if I remove .com it works correct"
import pystache

text = 'hey {{email|fallback:"test@gmail.com"}} ' # in a case test@gmail it works correctly
render_data = {'email|fallback:"test@gmail.com"':'test@gmail.com'}
json_data = pystache.render(text,render_data)

[2021-03-28 13:56] ghost opened #215 "Please consider support the .html file extension"
Please consider support the .html file extension

[2021-09-06 10:11] c00kiemon5ter commented on #181
From the [readme](https://github.com/defunkt/pystache/blob/eb6e5b6/README.md#using-python-3-with-pystache-from-source)

~~It seems that the last working build is with pip 20.3.3. After that, the build step that compiles python2 code to python3 seems to be skipped.~~ (see below, the real issue is setuptools)

From https://github.com/nicolargo/glances/issues/1793#issuecomment-765922759

I am sorry t

[2021-09-06 12:47] c00kiemon5ter commented on #181
Scratch the above message. The actual reason the build is failing is not pip but setuptools.

From https://github.com/pypa/setuptools/blob/main/CHANGES.rst#v5800

So, starting today, environments that pull in the new release of setuptools (v58 or later) will fail to build pystache.

[2021-09-19 15:04] bakert commented on #201
I fixed this in our fork of pystache at https://github.com/PennyDreadfulMTG/pystache

[2021-09-19 15:04] bakert commented on #192
I think chevron is probably the best option but if you need a working python3 version of this library for any reason I have forked it to fix incompatibility with latest setuptools and (relatedly) dropped python2 support here – https://github.com/PennyDreadfulMTG/pystache

[2021-09-19 15:06] bakert commented on #181
I have forked pystache and dropped support for python2 in order to avoid this issue here – https://github.com/PennyDreadfulMTG/pystache

[2021-09-19 15:07] bakert commented on #137
I have forked this library and dropped python2 support entirely here – https://github.com/PennyDreadfulMTG/pystache

The main reason for doing this is that the current build process no longer works because setuptools has dropped support for the `use_2to3` option.

[2021-10-07 11:29] slhck commented on #192
There's another fork that seems well-maintained at https://github.com/sarnold/pystache

Seriously though, one of the updated forks should be on PyPI … has anyone considered taking this over?

There's a process for this now: https://www.python.org/dev/peps/pep-0541/

[2021-10-07 11:53] hugovk commented on #192
What do authors of the two forks @bakert and @sarnold think about applying for transfer of the name on PyPI?

[2021-10-07 22:10] bakert commented on #192
@sarnold's fork looks better maintained than mine. I will probably retire mine in favor of using that. Changing it over makes sense to me if @sarnold agrees.

[2021-10-07 22:23] sarnold commented on #192
I guess that depends on the level of interest?  I was actually thinking about moving some things soon (out of personal to FOSS org) but I'm living off of negative time right now.  The pypi thing is on my todo list, I don't have anything there yet; I'd be up for co-maintenance (if that's even a thing) if @bakert is interested.  That's about the best I can do for now...

[2021-10-07 22:40] bakert commented on #192
We have extensions to pystache that make it faster (which should perhaps have been a PR against the library) and we've also hacked it to do our i18n so we're pretty deeply invested in there being a working library out there – https://github.com/PennyDreadfulMTG/Penny-Dreadful-Tools/blob/master/shared_web/template.py. Moving off pystache would be pretty painful. All that said our project is volunte

[2021-10-07 22:58] sarnold commented on #192
Sounds like maybe I should just open a giant PR?  The main reason for my maintenance fork in the first place was/is reviving gitchangelog, and other than that, I don't think I have any other packages that depend on pystache (i should really go check that...).

[2021-10-07 23:52] bakert commented on #192
Giant PR is acceptable!

[2021-10-15 20:11] sarnold commented on #192
I did say it would be big...  Also I got distracted with other stuff `<cough>work</cough>` but I'm almost ready for some squashing after this: https://github.com/sarnold/pystache/pull/8

Hopefully you enjoy automation; I should also mention the coverage workflow needs a(n orphan) branch named `badges` to maintain/display coverage data/badge. You even get to modify the PR comment msgs in the workfl

[2021-10-16 00:00] bakert commented on #192
I love automation :) Awesome to see this moving.

Is the goal that https://github.com/sarnold/pystache be the canonical/pypi repo at the end of this? Or are you going to send a giant PR against our fork? Or something else?

[2021-10-18 16:43] sarnold commented on #192
@bakert is this the right place?  https://github.com/PennyDreadfulMTG/pystache/pull/1

or did you want that in your personal github?

[2021-10-18 17:23] bakert commented on #192
That's the right place. There's a reasonable chance other devs from that
project will get involved.

On Mon, Oct 18, 2021 at 9:43 AM Steve Arnold ***@***.***>
wrote:

[2021-10-24 22:17] bakert commented on #192
Sorry it took me a few days to check this out. Your big PR is now merged. Is there more to come or are we in a good place now? Should we publish a new version with a new version number?

[2021-10-24 22:28] slhck commented on #192
Thanks for your efforts! I think what would be best us if you could kick off the process to take over the project on PyPI so that a pip install will find your updated fork. This requires the original project to be dead and the maintainers to be unresponsive, which both seems to be the case.

[2021-10-29 19:04] bakert commented on #192
I have made an official request to take over here - https://github.com/pypa/pypi-support/issues/1422

Tagging @defunkt in case they can pipe up to say it's ok to transfer the name.

[2022-01-05 16:10] ITProKyle opened #217 "python_requires missing from published releases"
~I am creating this here as issues are disabled on the pystache fork that is currently being published from.~

Actually, pypi home page link is for the correct repo. Following the ownership request and other issues in this repo, I found the correct repo which does have issues enabled.

The current releases of pystache on pypi are missing python version requirements resulting in it being installed

[2022-01-05 16:14] #217 closed, assigned to nobody

[2022-02-02 15:33] jgstew commented on #215
This project hasn't been updated since 2014

**See this project instead:** https://github.com/noahmorrison/chevron

https://github.com/defunkt/pystache/pull/213

[2022-02-02 15:34] jgstew commented on #211
This project hasn't been updated since 2014

**See this project instead:** https://github.com/noahmorrison/chevron

https://github.com/defunkt/pystache/pull/213

[2022-02-08 08:59] slhck commented on #192
For anyone else coming here, this project is now officially no longer the source for PyPI, and you can find the newest releases here:

https://pypi.org/project/pystache/

[2022-02-08 09:35] obfuscoder commented on #192
Thanks for moving this forward. What do you think, shall I close the issue or keep it open so that others will find it?

[2022-02-08 09:43] slhck commented on #192
I think you can close it. It's only a problem for legacy installations. New users should automatically get the right version via PyPI.